<app-breadcrumb [pages]="breadcrumbItems"></app-breadcrumb>

<div class="monitor-de-marcado">
  <div class="container">
    <div class="monitor-head">
      <h3>{{data?.title}}</h3>
      <div *ngIf="data?.content" [innerHtml]="data.content"></div>
    </div>
  </div>
</div>

<div class="Acciones" *ngFor="let section of sections">
  <div class="container">
    <div class="Acciones-header">
      <h3>{{section.title}}</h3>
    </div>
    <div class="Acciones-table">
      <div *ngIf="section?.content" [innerHtml]="getHTML(section.content)"></div>
    </div>
    <div class="Acciones-simple-text">
      <p>Fuente BVC. La información tiene 20 minutos de retraso.</p>
    </div>
  </div>
</div>

<!--
<div class="Monedas">
  <div class="container">
    <div class="Monedas-header">
      <h3>Monedas</h3>
    </div>
    <div class="Monedas-table">
      <iframe scrolling="no" src="https://widgetsdataifx.blob.core.windows.net/corredores/hublistcommoditiesdavivienda"></iframe>
    </div>
    <div class="Monedas-simple-text">
      <p>Fuente BVC. La información tiene 20 minutos de retraso.</p>
    </div>
  </div>
</div>

<div class="Indices-y-commodities">
  <div class="container">
    <div class="Indices-y-commodities-header">
      <h3>Índices y commodities</h3>
    </div>
    <div class="Indices-y-commodities-table">
      <iframe scrolling="no" src="https://widgetsdataifx.blob.core.windows.net/corredores/hublistcurrenciesdavivienda"></iframe>
    </div>
    <div class="Indices-y-commodities-simple-text">
      <p>Fuente BVC. La información tiene 20 minutos de retraso.</p>
    </div>
  </div>
</div>

<div class="Indices-y-commodities">
  <div class="container">
    <div class="Indices-y-commodities-header">
      <h3>Índices y commodities</h3>
    </div>
    <div class="Indices-y-commodities-table">
      <iframe scrolling="no" src="https://widgetsdataifx.blob.core.windows.net/corredores/hublistindicesdavivienda"></iframe>
    </div>
    <div class="Indices-y-commodities-simple-text">
      <p>Fuente BVC. La información tiene 20 minutos de retraso.</p>
    </div>
  </div>
</div>
-->

<div class="monitor-de-marcado-Recomendados">
  <div class="container">
    <h2>Artículos Relacionados</h2>
    <div class="nir-inline-video">
      <div class="row">
        <div class="col-md-4 col-sm-12 right-border-ifx" *ngFor="let report of reports">
          <img src="../../../../assets/images/single_blog_img.png" class="img-fluid">
          <div class="nir-inline-video-contant">
            <h5>{{getCategory(report?.reportType)}}</h5>
            <h3>{{report?.rTitle | striphtml}}</h3><br>
            <p>{{report?.smartContent}}</p>
            <button type="button" class="btn nir-inline-video-btn" [routerLink]="['/reports', report?.id]">Leer más</button>
          </div>
        </div>

        <!--<div class="col-md-4 col-sm-12 right-border-ifx">
          <img src="../../../../assets/images/second_single_blog_img.png" class="img-fluid">
          <div class="nir-inline-video-contant">
            <h5>Nombre de la categoría del informe</h5>
            <h3>Lorem ipsum dolor sit amet, consectetur</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <button type="button" class="btn nir-inline-video-btn">Leer más</button>
          </div>
        </div>

        <div class="col-md-4 col-sm-12 monitor-full-img">
          <img src="../../../../assets/images/third_single_blog_img.png" class="img-fluid">
          <div class="nir-inline-video-contant">
            <h5>Nombre de la categoría del informe</h5>
            <h3>Lorem ipsum dolor sit amet, consectetur</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <button type="button" class="btn nir-inline-video-btn">Leer más</button>
          </div>
        </div>-->
      </div>
    </div>
  </div>
</div>
