<div class="page_direction">
  <div class="container">
    <ul>
      <li class="back_page"><a href="#"><i class="fa fa-arrow-left" aria-hidden="true"></i>Atras </a></li>
      <li><a href="#">Inicio</a></li>
      <li><a href="#">Pagina</a></li>
      <li><a href="#">Pagina tres</a></li>
    </ul>
  </div>
</div>

<div class="monitor-de-marcado">
  <div class="container">
    <div class="monitor-head">
      <h3>Monitor de Mercado</h3>
      <p>Ponemos a su disposición datos en línea e históricos de los principales indicadores económicos y financieros locales e internacionales, que le permitirán estar actualizado rápidamente</p>
    </div>
  </div>
</div>

<div class="Acciones">
  <div class="container">
    <div class="Acciones-header">
      <h3>Acciones</h3>
    </div>
    <div class="Acciones-table">
      <iframe src="https://widgetsdataifx.blob.core.windows.net/corredores/hubliststocksdavivienda"></iframe>
    </div>
    <div class="Acciones-simple-text">
      <p>Fuente BVC. La información tiene 20 minutos de retraso.</p>
    </div>
  </div>
</div>
<div class="Monedas">
  <div class="container">
    <div class="Monedas-header">
      <h3>Monedas</h3>
    </div>
    <div class="Monedas-table">
      <table class="table">
        <thead>
        <tr>
          <th>INSTRUMENTO<i class="fas fa-caret-down"></i></th>
          <th>HORA<i class="fas fa-caret-down"></i></th>
          <th>VALOR<i class="fas fa-caret-down"></i></th>
          <th>%CAMBIO<i class="fas fa-caret-down"></i></th>
          <th>CAMBIO<i class="fas fa-caret-down"></i></th>
          <th>CIERRE ANT.<i class="fas fa-caret-down"></i></th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>DOLAR SPOT</td>
          <td>09:39:00</td>
          <td class="pad-l">3.327,2980</td>
          <td class="padd c-red">-0,03%</td>
          <td class="padd c-red">-1,16</td>
          <td class="f-left">3.328,4550</td>
        </tr>
        <tr>
          <td>EURUSD</td>
          <td>09:10:10</td>
          <td class="pad-l">1,1113</td>
          <td class="padd c-red">-0,02%</td>
          <td class="padd c-red">-0,00</td>
          <td class="f-left">1,1114</td>
        </tr>
        <tr>
          <td>EURUGHJ</td>
          <td>10:15:10</td>
          <td class="pad-l">5,1013</td>
          <td class="padd c-red">-0,01%</td>
          <td class="padd c-red">-0,00</td>
          <td class="f-left">1,1156</td>
        </tr>
        <tr>
          <td>EURUSD</td>
          <td>09:10:10</td>
          <td class="pad-l">1,1113</td>
          <td class="padd c-green">-0,02%</td>
          <td class="padd c-green">-0,00</td>
          <td class="f-left">1,1114</td>
        </tr>
        <tr>
          <td>EURUSD</td>
          <td>09:10:10</td>
          <td class="pad-l">1,1113</td>
          <td class="padd c-green">-0,02%</td>
          <td class="padd c-green">-0,00</td>
          <td class="f-left">1,1114</td>
        </tr>
        <tr>
          <td>EURUGHJ</td>
          <td>10:15:10</td>
          <td class="pad-l">5,1013</td>
          <td class="padd c-red">-0,01%</td>
          <td class="padd c-red">-0,00</td>
          <td class="f-left">1,1156</td>
        </tr>
        <tr>
          <td>EURUGHJ</td>
          <td>10:15:10</td>
          <td class="pad-l">5,1013</td>
          <td class="padd c-red">-0,01%</td>
          <td class="padd c-red">-0,00</td>
          <td class="f-left">1,1156</td>
        </tr>
        <tr>
          <td>EURUGHJ</td>
          <td>10:15:10</td>
          <td class="pad-l">5,1013</td>
          <td class="padd c-red">-0,01%</td>
          <td class="padd c-red">-0,00</td>
          <td class="f-left">1,1156</td>
        </tr>
        <tr>
          <td>EURUSD</td>
          <td>09:10:10</td>
          <td class="pad-l">1,1113</td>
          <td class="padd c-green">-0,02%</td>
          <td class="padd c-green">-0,00</td>
          <td class="f-left">1,1114</td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="Monedas-simple-text">
      <p>Fuente BVC. La información tiene 20 minutos de retraso.</p>
    </div>
  </div>

</div>

<div class="Indices-y-commodities">
  <div class="container">
    <div class="Indices-y-commodities-header">
      <h3>Índices y commodities</h3>
    </div>
    <div class="Indices-y-commodities-table">
      <table class="table">
        <thead>
        <tr>
          <th>INSTRUMENTO<i class="fas fa-caret-down"></i></th>
          <th>HORA<i class="fas fa-caret-down"></i></th>
          <th>VALOR<i class="fas fa-caret-down"></i></th>
          <th>%CAMBIO<i class="fas fa-caret-down"></i></th>
          <th>CAMBIO<i class="fas fa-caret-down"></i></th>
          <th>CIERRE ANT.<i class="fas fa-caret-down"></i></th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>BANREP</td>
          <td>N/A</td>
          <td class="pad-l">4,25%</td>
          <td class="padd c-blue">0,00%</td>
          <td class="padd c-blue">0,00</td>
          <td class="f-left">4,25</td>
        </tr>
        <tr>
          <td>ICAP</td>
          <td>13:39:39</td>
          <td class="pad-l">1.559,74</td>
          <td class="padd c-red">-0,87%</td>
          <td class="padd c-red">-14,10</td>
          <td class="f-left">1,613,84</td>
        </tr>
        <tr>
          <td>GRPOSURA</td>
          <td>14:02:33</td>
          <td class="pad-l">USD 61,00</td>
          <td class="padd c-green">0,11%</td>
          <td class="padd c-green">0,07</td>
          <td class="f-left">60,97</td>
        </tr>
        <tr>
          <td>GRPOSURA</td>
          <td>14:02:33</td>
          <td class="pad-l">USD 61,00</td>
          <td class="padd c-green">0,11%</td>
          <td class="padd c-green">0,07</td>
          <td class="f-left">60,97</td>
        </tr>
        <tr>
          <td>ICAP</td>
          <td>13:39:39</td>
          <td class="pad-l">1.559,74</td>
          <td class="padd c-red">-0,87%</td>
          <td class="padd c-red">-14,10</td>
          <td class="f-left">1,613,84</td>
        </tr>
        <tr>
          <td>GRPOSURA</td>
          <td>14:02:33</td>
          <td class="pad-l">USD 61,00</td>
          <td class="padd c-green">0,11%</td>
          <td class="padd c-green">0,07</td>
          <td class="f-left">60,97</td>
        </tr>
        <tr>
          <td>ICAP</td>
          <td>13:39:39</td>
          <td class="pad-l">1.559,74</td>
          <td class="padd c-red">-0,87%</td>
          <td class="padd c-red">-14,10</td>
          <td class="f-left">1,613,84</td>
        </tr>
        <tr>
          <td>GRPOSURA</td>
          <td>14:02:33</td>
          <td class="pad-l">USD 61,00</td>
          <td class="padd c-green">0,11%</td>
          <td class="padd c-green">0,07</td>
          <td class="f-left">60,97</td>
        </tr>
        <tr>
          <td>ICAP</td>
          <td>13:39:39</td>
          <td class="pad-l">1.559,74</td>
          <td class="padd c-red">-0,87%</td>
          <td class="padd c-red">-14,10</td>
          <td class="f-left">1,613,84</td>
        </tr>
        <tr>
          <td>ICAP</td>
          <td>13:39:39</td>
          <td class="pad-l">1.559,74</td>
          <td class="padd c-red">-0,87%</td>
          <td class="padd c-red">-14,10</td>
          <td class="f-left">1,613,84</td>
        </tr>
        <tr>
          <td>GRPOSURA</td>
          <td>14:02:33</td>
          <td class="pad-l">USD 61,00</td>
          <td class="padd c-green">0,11%</td>
          <td class="padd c-green">0,07</td>
          <td class="f-left">60,97</td>
        </tr>
        <tr>
          <td>ICAP</td>
          <td>13:39:39</td>
          <td class="pad-l">1.559,74</td>
          <td class="padd c-red">-0,87%</td>
          <td class="padd c-red">-14,10</td>
          <td class="f-left">1,613,84</td>
        </tr>
        <tr>
          <td>ICAP</td>
          <td>13:39:39</td>
          <td class="pad-l">1.559,74</td>
          <td class="padd c-red">-0,87%</td>
          <td class="padd c-red">-14,10</td>
          <td class="f-left">1,613,84</td>
        </tr>
        <tr>
          <td>GRPOSURA</td>
          <td>14:02:33</td>
          <td class="pad-l">USD 61,00</td>
          <td class="padd c-green">0,11%</td>
          <td class="padd c-green">0,07</td>
          <td class="f-left">60,97</td>
        </tr>
        <tr>
          <td>GRPOSURA</td>
          <td>14:02:33</td>
          <td class="pad-l">USD 61,00</td>
          <td class="padd c-green">0,11%</td>
          <td class="padd c-green">0,07</td>
          <td class="f-left">60,97</td>
        </tr>
        <tr>
          <td>ICAP</td>
          <td>13:39:39</td>
          <td class="pad-l">1.559,74</td>
          <td class="padd c-blue">-0,87%</td>
          <td class="padd c-blue">-14,10</td>
          <td class="f-left">1,613,84</td>
        </tr>
        <tr>
          <td>ICAP</td>
          <td>13:39:39</td>
          <td class="pad-l">1.559,74</td>
          <td class="padd c-blue">-0,87%</td>
          <td class="padd c-blue">-14,10</td>
          <td class="f-left">1,613,84</td>
        </tr>
        <tr>
          <td>GRPOSURA</td>
          <td>14:02:33</td>
          <td class="pad-l">USD 61,00</td>
          <td class="padd c-green">0,11%</td>
          <td class="padd c-green">0,07</td>
          <td class="f-left">60,97</td>
        </tr>

        </tbody>
      </table>
    </div>
    <div class="Indices-y-commodities-simple-text">
      <p>Fuente BVC. La información tiene 20 minutos de retraso.</p>
    </div>
  </div>
</div>

<div class="monitor-de-marcado-Recomendados">
  <div class="container">
    <h2>Artículos Relacionados</h2>
    <div class="nir-inline-video">
      <div class="row">
        <div class="col-md-4 col-sm-12 right-border-ifx">
          <img src="../../../../assets/images/single_blog_img.png" class="img-fluid">
          <div class="nir-inline-video-contant">
            <h5>Nombre de la categoría del informe</h5>
            <h3>Lorem ipsum dolor sit amet</h3><br>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <button type="button" class="btn nir-inline-video-btn">Leer más</button>
          </div>
        </div>

        <div class="col-md-4 col-sm-12 right-border-ifx">
          <img src="../../../../assets/images/second_single_blog_img.png" class="img-fluid">
          <div class="nir-inline-video-contant">
            <h5>Nombre de la categoría del informe</h5>
            <h3>Lorem ipsum dolor sit amet, consectetur</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <button type="button" class="btn nir-inline-video-btn">Leer más</button>
          </div>
        </div>

        <div class="col-md-4 col-sm-12 monitor-full-img">
          <img src="../../../../assets/images/third_single_blog_img.png" class="img-fluid">
          <div class="nir-inline-video-contant">
            <h5>Nombre de la categoría del informe</h5>
            <h3>Lorem ipsum dolor sit amet, consectetur</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <button type="button" class="btn nir-inline-video-btn">Leer más</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
