<app-breadcrumb [pages]="breadcrumbItems"></app-breadcrumb>

<div class="multimedia">
  <div class="container">
    <h2>Multimedia</h2>
    <p>A través de nuestra biblioteca multimedia usted podrá conocer de manera rápida y sencilla nuestro análisis y expectativas sobre la coyuntura económica y de los mercados financieros así como nuestras recomendaciones de inversión.</p>
  </div>
</div>

<div class="Recomendados">
  <div class="container">
    <div class="Recomendados-head">
      <h3>Recomendados</h3>
    </div>
    <div class="Recomendados-header">
      <div class="row" *ngIf="header" [routerLink]="['/multimedia', header.id]">
        <div class="col-md-6 col-sm-12 recomendados_container">
          <div class="Recomendados-inner-image">
            <span class="overlaycategory">{{getType(header)}}</span>
            <i class="fas fa-play-circle"></i>
            <span class="overlaytitle">Reproducir</span>
            <div class="overlay-image-header"></div>
            <img [src]="getThumbSource(header)" alt="" class="img-fluid">
          </div>
        </div>
        <div class="col-md-6 col-sm-12 Recomendados-inner-text">
          <h4>{{getCategoy(header)}}</h4>
          <h2>{{header?.title}}</h2>
          <h6>{{header?.createdAt | date:'d MMMM y'}}</h6>
          <p>{{header?.description}}</p>
        </div>
      </div>
    </div>

    <div class="Recomandados-inline-video">
      <div class="row">
        <div class="col-md-4 col-sm-4 inline-video" *ngIf="item1" [routerLink]="['/multimedia', item1.id]">
          <div class="vidimg">
            <img [src]="getThumbSource(item1)" alt="" class="img-fluid">
            <span class="overlaycategory">{{getType(item1)}}</span>
            <i class="fas fa-play-circle"></i>
            <span class="overlaytitle">Reproducir</span>
            <div class="overlay-image-header"></div>
          </div>

          <h4>{{getCategoy(item1)}}</h4>
          <h2 class="title-multimedia">{{item1.title}}</h2>
          <h6>{{item1?.description}}</h6>
        </div>
        <div class="col-md-4 col-sm-4 inline-video" *ngIf="item2" [routerLink]="['/multimedia', item2.id]">
          <div class="vidimg">
            <img [src]="getThumbSource(item2)" alt="" class="img-fluid">
            <span class="overlaycategory">{{getType(item2)}}</span>
            <i class="fas fa-podcast"></i>
            <span class="overlaytitle">Reproducir</span>
            <div class="overlay-image-header"></div>
          </div>

          <h4>{{getCategoy(item2)}}</h4>
          <h2>{{item2.title}}</h2>
          <h6>{{item2?.description}}</h6>
        </div>
        <div class="col-md-4 col-sm-4 inline-video" *ngIf="item3" [routerLink]="['/multimedia', item3.id]">

          <div class="vidimg">
            <img [src]="getThumbSource(item3)" alt="" class="img-fluid">
            <span class="overlaycategory">{{getType(item3)}}</span>
            <i class="fas fa-play-circle"></i>
            <span class="overlaytitle">Reproducir</span>
            <div class="overlay-image-header"></div>
          </div>

          <h4>{{getCategoy(item3)}}</h4>
          <h2>{{item3.title}}</h2>
          <h6>{{item3?.description}}</h6>
        </div>

      </div>
    </div>
  </div>
</div>

<div class="Recomandados-tab">
  <div class="container">
    <div class="row">
      <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item" (click)="setTab(1)">
          <a class="nav-link" [ngClass]="{'active': currentTab === 1}">Videos</a>
        </li>
        <li class="nav-item" (click)="setTab(2)">
          <a class="nav-link" [ngClass]="{'active': currentTab === 2}">Podcast</a>
        </li>
        <li class="nav-item" (click)="setTab(3)">
          <a class="nav-link" [ngClass]="{'active': currentTab === 3}" >Webinar</a>
        </li>
      </ul>
      <div class="tab-content">
        <div id="home" class="container tab-pane active">
          <div class="Recomandados-tab-contant">
            <p>Aquí podrá acceder a las cápsulas en las que nuestro equipo de trabajo le presenta lo más relevante en temas económicos, financieros y recomendaciones de inversión.</p>
            <div class="Recomandados-inline-video">
              <div class="row">
                <div class="col-md-4 col-sm-4 inline-video" *ngFor="let item of contents">

                  <div class="vidimg" [routerLink]="['/multimedia', item.id]">
                    <img [src]="getThumbSource(item)" alt="" class="img-fluid">
                    <span class="overlaycategory">{{getType(item)}}</span>
                    <i class="fas fa-play-circle"></i>
                    <span class="overlaytitle">Reproducir</span>
                    <div class="overlay-image-header"></div>
                  </div>

                  <h4>{{getCategoy(item)}}</h4>
                  <h2 class="title-multimedia">{{item?.title}}</h2>
                  <h6>{{item?.createdAt | date:'d MMMM y'}}</h6>

                </div>
              </div>
            </div>
            <div class="tab-botton">
              <button type="button" class="btn tab-btn-red" (click)="loadMultimedia()">Cargar más<span><i class="fas fa-chevron-down"></i></span></button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
