
.todo-analisis {
  h3 {
    cursor: pointer;
  }
}

.investment-group-section-title {
  font-size: 18px;
  margin-bottom: -5px;
}

.investment-list {
  min-height: 205px;
}

.nav-item {
  cursor: pointer;
}

.title-multimedia {
  word-break: break-word;
  height: 46px;
  overflow: hidden;
}

@media only screen and (max-width: 767px) {
  .video--image img{
    min-height: 181px;
    height: auto;
  }
}

.recomendados_content {
  .inline-video {
    min-height: 300px;
    padding-bottom: 20px;
    h6 {
      position: absolute;
      bottom: 0;
    }
  }
}
