
.todo-analisis {
  h3 {
    cursor: pointer;
  }
}

.investment-group-section-title {
  font-size: 18px;
  margin-bottom: -5px;
}

.investment-list {
  min-height: 205px;
}

.nav-item {
  cursor: pointer;
}
