<div class="resumen">
  <div class="container">
    <div class="resumen-contant">
      <h4>Términos y condiciones</h4>
      <h5>Preguntenos:</h5>
      <p>1. Declaro que he suministrado de forma voluntaria expresa, informada y previa lainformación personal arriba
        mencionada para efectos de recibir los boletines y/oinformes sobre temas económicos, financieros y de
        inversiones elaborados porlas áreas de Estudios Económicos de Banco Davivienda S.A. y deInvestigaciones
        Económicas y Estrategia de Corredores Davivienda S.A.</p>
      <p>2. Conozco que el contenido de las publicaciones no corresponde a una asesoría,recomendación o sugerencia por
        parte del Banco Davivienda ni sus Filiales parala toma de decisiones o la realización de cualquier tipo de
        transacciones onegocios.</p>
      <p>3. Autorizo a Banco Davivienda S.A , Fiduciaria Davivienda S.A, CorredoresDavivienda S.A, para la utilización
        de los datos personales para que utilicen losdatos que he incluido en el presente para las siguientes
        finalidades:</p>

      <ul>
        <li>Desarrollo de los procesos que se requieran para la adecuada prestaciónde los productos y/o servicios
          contratados;
        </li>

        <li>Hacer estudios estadísticos o de comportamiento sobre gustos ypreferencias respecto de los productos y/o
          servicios suministrados;
        </li>

        <li>Evaluar, mantener, mejorar y profundizar la relación contractual,incluyendo el envío de información sobre
          eventos, novedades,promociones, publicidad y programas de fidelidad, mediante el uso decorreo electrónico,
          correo postal, teléfono fijo, celular, fax, SMS, MSM,redes sociales o medios similares, incluido el
          ofrecimiento de nuevosproductos y/o servicios relacionados con los productos y/o serviciosofrecidos;
        </li>

        <li>Realizar análisis comercial, con el fin de identificar las necesidades ygustos a satisfacer con los
          productos y/o servicios suministrados;
        </li>


        <li>Compartirlos con entidades del Grupo Empresarial Bolívar cuya matriz esGRUPO BOLÍVAR S.A., ubicadas dentro
          o fuera del territorio de laRepública de Colombia, las cuales aparecen listadas en el
          link:https://www.sociedadesbolivar.com.co/wps/portal/web/nuestrascompania,en el que se informa el tipo de
          actividad que cada una de ellas desarrolla,a efecto de que me sean ofrecidos sus productos o servicios
          comercialesmediante el uso de correo electrónico, correo postal, teléfono fijo, celular,fax, SMS, MSM, redes
          sociales o medios similares, así como paradesarrollar actividades de conocimiento del cliente,
          campañascomerciales, publicitarias, y marketing, y
        </li>

        <li>Compartan mi información con aliados comerciales y estratégicos, loscuales estarán listados en la página
          web de cada una de las compañías,a efecto de realizar el ofrecimiento y desarrollo de ofertas de valor;
        </li>

      </ul>

      <p>La presente autorización estará vigente mientras no la revoque expresamente mediantecomunicación escrita
        dirigida a BANCO DAVIVIENDA S.A. y/o FIDUCIARIADAVIVIENDA S.A. y/o CORREDORES DAVIVIENDA S.A. COMISIONISTA DE
        BOLSA. </p>
      <p>Dejo constancia que he recibido información sobre: los derechos que me asisten comoTitular(es) de la
        información personal, en particular el de presentar consultas,peticiones y quejas en torno al manejo dado por el
        Banco Davivienda, FiduciariaDavivienda y Corredores Davivienda, a mi información personal y en general
        elejercicio del Habeas Data. Manifiesto que se me ha informado de manera clara yexpresa acerca del tratamiento
        al cual serán sometidos mis datos personales y lafinalidad del mismo, así como acerca de las políticas de
        tratamiento de informaciónpersonal adoptadas por BANCO DAVIVIENDA S.A. y/o FIDUCIARIA DAVIVIENDA S.A.y/o
        CORREDORES DAVIVIENDA S.A. COMISIONISTA DE BOLSA, las cuales seencuentran disponibles para mi consulta en las
        páginas web en los siguientes vínculos:<a href="https://www.davivienda.com" target="_blank">www.davivienda.com</a>; <a
          href="https://www.fidudavivienda.com" target="_blank">www.fidudavivienda.com</a>; y <a
          href="https://www.daviviendacorredores.com" target="_blank">www.daviviendacorredores.com</a>.</p>
    </div>
  </div>
</div>
