<header class="header header_container">
	<div class="container">
		<div class="header_section">
			<div class="mobile_menu">
				<!-- <div class="menu_icon">
					<span>menu</span>
				</div> -->
				<span class="open_menu" onclick="openNav()">&#9776;</span>

				<div id="mySidenav" class="sidenav">
					<div>
						<span class="closebtn" onclick="closeNav()">&times;</span>
						<p onclick="closeNav()" class="close_text">Cerrar</p>
					</div>
					<div class="col accordion_menu">
						<div class="tabs">
							<div class="header_left acc_header">
								<div class="site_logo" [routerLink]="'/home'">
									<img src="/assets/images/logo-vision-menu.png" alt="">
								</div>
							</div>
							<div class="header_right search_menu">
								<div class="header_search">
									<input type="text" name="" placeholder="¿Que está buscando?">
									<button type=""><i class="fa fa-search" aria-hidden="true"></i></button>
								</div>
							</div>
							<div class="sub_figure"></div>
							<div class="acc_subscribe">
								<img src="/assets/images/Suscríbase.png" alt="">
								<p>Suscríbase</p>
							</div>
							<!--  -->
							<div class="tab">
								<input type="checkbox" id="chck1">
								<label class="tab-label" for="chck1">Estar actualizado</label>
								<div class="tab-content accordion_tab_sub macroeconomía">
									<a href="#" class="min_text">Ver todo Estar actualizado</a>
									<a href="#" class="acordion_subtitle ac_links">Para empezar el día</a>
									<a href="#" class="acordion_subtitle ac_links">Debe saberlo</a>
									<a href="#" class="acordion_subtitle ac_links">Bitácora mercado de capitales</a>
									<a href="#" class="acordion_subtitle ac_links">Diario acciones</a>
									<a href="#" class="acordion_subtitle ac_links">Nuevas emisiones</a>
									<a href="#" class="acordion_subtitle ac_links">Así cierran los mercados</a>
									<a href="#" class="acordion_subtitle ac_links">El Libro</a>
									<a href="#" class="acordion_subtitle ac_links">Expectativa semanal</a>
									<a href="#" class="acordion_subtitle ac_links">Estrategia anual</a>
								</div>
							</div>
							<!--  -->
							<div class="tab">
								<input type="checkbox" id="chck2">
								<label class="tab-label" for="chck2">Macroeconomía</label>
								<div class="tab-content accordion_tab_sub macroeconomía">
									<a href="#" class="min_text">Ver todo Macroeconomía</a>
									<a href="#" class="acordion_subtitle ac_links">Visión macro 2020</a>
									<a href="#" class="acordion_subtitle ac_links">Tendencias actividad económica</a>
									<a href="#" class="acordion_subtitle ac_links">Perspectivas inflación</a>
									<a href="#" class="acordion_subtitle ac_links">Seguimiento Banco de la República</a>
									<a href="#" class="acordion_subtitle ac_links">Indicador de Confianza Davivienda</a>
									<a href="#" class="acordion_subtitle ac_links">Relaciones con el mundo</a>
									<a href="#" class="acordion_subtitle ac_links">Tendencias mercado laboral</a>
									<a href="#" class="acordion_subtitle ac_links">Entorno internacional</a>
									<a href="#" class="acordion_subtitle ac_links">Recuento macro anual</a>
									<a href="#" class="acordion_subtitle ac_links">Comparando Colombia</a>
								</div>
							</div>
							<!--  -->
							<div class="tab">
								<input type="checkbox" id="chck3">
								<label class="tab-label" for="chck3">Nuestros indicadores</label>
								<div class="tab-content accordion_tab_sub macroeconomía">
									<a href="#" class="min_text">Ver todo Nuestros indicadores</a>
									<a href="#" class="acordion_subtitle ac_links">Davivienda PMI</a>
									<a href="#" class="acordion_subtitle ac_links">Precios reales ventas vivienda nueva</a>
									<a href="#" class="acordion_subtitle ac_links">Precios edificaciones nuevas</a>
									<a href="#" class="acordion_subtitle ac_links">Precios de vehículos usados</a>
									<a href="#" class="acordion_subtitle ac_links">Indicador de Confianza Davivienda</a>
									<a href="#" class="acordion_subtitle ac_links">Gran encuesta de acciones</a>
								</div>
							</div>
							<!--  -->
							<div class="tab">
								<input type="checkbox" id="chck4">
								<label class="tab-label" for="chck4">Economias Centroamericanas</label>
								<div class="tab-content accordion_tab_sub macroeconomía">
									<a href="#" class="min_text">Ver todo Economías Centroamericanas</a>
									<a href="#" class="acordion_subtitle ac_links">Costa Rica</a>
									<a href="#" class="acordion_subtitle ac_links">El Salvador</a>
									<a href="#" class="acordion_subtitle ac_links">Honduras</a>
									<a href="#" class="acordion_subtitle ac_links">Panamá</a>
									<a href="#" class="acordion_subtitle ac_links">Comparando Centroamérica</a>
								</div>
							</div>
							<!--  -->
							<div class="tab">
								<input type="checkbox" id="chck5">
								<label class="tab-label" for="chck5">Tendencias sectoriales</label>
								<div class="tab-content accordion_tab_sub macroeconomía">
									<a href="#" class="min_text">Ver todo Tendencias sectoriales</a>
									<a href="#" class="acordion_subtitle ac_links">Construcción</a>
									<a href="#" class="acordion_subtitle ac_links">Mineria y petróleo</a>
									<a href="#" class="acordion_subtitle ac_links">Comercio</a>
									<a href="#" class="acordion_subtitle ac_links">Transporte</a>
									<a href="#" class="acordion_subtitle ac_links">Energía</a>
									<a href="#" class="acordion_subtitle ac_links">Sector Financiero</a>
									<a href="#" class="acordion_subtitle ac_links">Industria</a>
									<a href="#" class="acordion_subtitle ac_links">Otros</a>
									<a href="#" class="acordion_subtitle ac_links">Inmobiliairio</a>
								</div>
							</div>
							<!--  -->
							<div class="tab">
								<input type="checkbox" id="chck6">
								<label class="tab-label" for="chck6">Análisis de compañias</label>
								<div class="tab-content accordion_tab_sub macroeconomía">
									<a href="#" class="min_text">Ver todo Análisis de compañias</a>
									<a href="#" class="acordion_subtitle ac_links">Bancolombia</a>
									<a href="#" class="acordion_subtitle ac_links">Ecopetrol</a>
									<a href="#" class="acordion_subtitle ac_links">Grupo ÉXITO</a>
									<a href="#" class="acordion_subtitle ac_links">PEI</a>
									<a href="#" class="acordion_subtitle ac_links">Avianca holdings</a>
									<a href="#" class="acordion_subtitle ac_links">Davivienda</a>
									<a href="#" class="acordion_subtitle ac_links">AgrupoAVal</a>
									<a href="#" class="acordion_subtitle ac_links">Mineros</a>
									<a href="#" class="acordion_subtitle ac_links">Banco de Bogotá</a>
									<a href="#" class="acordion_subtitle ac_links">El Cóndor</a>
									<a href="#" class="acordion_subtitle ac_links">Grupo Nutresa</a>
									<a href="#" class="acordion_subtitle ac_links">Promigas</a>
									<a href="#" class="acordion_subtitle ac_links">Celsia</a>
									<a href="#" class="acordion_subtitle ac_links">GEB</a>
									<a href="#" class="acordion_subtitle ac_links">Grupo Sura</a>
									<a href="#" class="acordion_subtitle ac_links">Terpel</a>
									<a href="#" class="acordion_subtitle ac_links">CEMEX</a>
									<a href="#" class="acordion_subtitle ac_links">Conconcreto</a>
									<a href="#" class="acordion_subtitle ac_links">Grupo Argos</a>
									<a href="#" class="acordion_subtitle ac_links">ISA</a>
									<a href="#" class="acordion_subtitle ac_links">Proximity</a>
								</div>
							</div>
							<!--  -->
							<div class="tab">
								<input type="checkbox" id="chck7">
								<label class="tab-label" for="chck7">¿En qué invertir?</label>
								<div class="tab-content accordion_tab_sub">
									<p class="min_text">Renta Fija</p>
									<a href="#" class="acordion_subtitle ac_links">Estrategia del mes</a>
									<a href="#" class="acordion_subtitle ac_links">Valor justo de TES</a>
									<a href="#" class="acordion_subtitle ac_links">Inversionistas de TES</a>
									<a href="#" class="acordion_subtitle ac_links">Guía de crédito corporativo</a>
									<a href="#" class="acordion_subtitle ac_links">De su interés</a>
									<a href="#" class="max_text">Ver todo Renta Fija</a>
									<!--  -->
									<p class="min_text">Acciones</p>
									<a href="#" class="acordion_subtitle ac_links">Estrategia del mes</a>
									<a href="#" class="acordion_subtitle ac_links">Inversionistas de acciones</a>
									<a href="#" class="acordion_subtitle ac_links">Rebalanceos de índices</a>
									<a href="#" class="acordion_subtitle ac_links">De su interés</a>
									<a href="#" class="max_text">Ver todo Acciones</a>
									<!--  -->
									<p class="min_text">Divisas</p>
									<a href="#" class="acordion_subtitle ac_links">La estrategia del mes</a>
									<a href="#" class="acordion_subtitle ac_links">De su interés</a>
									<a href="#" class="max_text">Ver todo Divisas</a>
								</div>
							</div>
							<!--  -->
							<div class="acc_multimedia">
								<a [routerLink]="['/multimedia']">Multimedia</a>
							</div>
						</div>
					</div>


				</div>
			</div>
			<div class="header_left">
				<div class="site_logo" [routerLink]="'/home'">
					<img src="./assets/images/logo-vision.png" alt="">
				</div>
				<!-- 
				<div class="logo_after">
					<img src="./assets/images/logo_after.png" alt="">
				</div> -->
			</div>
			<div class="header_right">
				<div class="header_search">
					<input type="text" name="" placeholder="Busque por:informe,categoria,autor,fecha">
					<button type=""><i class="fa fa-search" aria-hidden="true"></i></button>
				</div>
				<div class="suscribe_btn">
					<button type="">Suscribase</button>
				</div>
			</div>
		</div>
	</div>
</header>