.site_logo {
  cursor: pointer;
}

.header .header_section .header_right .header_search input {
  height: 37px;
}

.sidenav{
  padding-top: 0;
  .closebtn{
    z-index: 9;
    left: 20px;
    right: 0;
    font-size: 35px;
    margin-left: 0;
    color: #ffffff;
    font-weight: bold;
  }
  .close_text{
    position: absolute;
    z-index: 9;
    top: 37px;
    left: 11px;
    font-size: 12px;
    color: #ffffff;
  }
}
/* Accordion styles */
.accordion_menu{
  padding: 0;
}
.tabs {
  overflow: hidden;
  .acc_multimedia{
    font-size: 15px;
    color: #ffffff;
    background: #ffffff;
    padding: 10px 13%;
  }
  .acc_subscribe{
    display: flex;
    align-items: flex-start;
    background-color: #f2f2f2;
    padding: 20px 0px 0px 28px;
    background: #f2f2f2;
    border-bottom: solid 1px silver;
    border-top: solid 1px silver;
    img{
      width: 6%;
      margin-right: 20px;
      padding-top: 3px;
    }
    p{
      font-size: 15px;
      color: #505050;
    }
  }

  .search_menu{
    display: flex;
    .header_search{
      width: 100%;
      padding: 15px;
      background: #E3E3E3;
      margin: 0;
      input{
        border: none;
      }
      button{
        top: 15px;
        right: 15px;
        height: 40px;
        background: #fff;
      }
    }
  }

  .acc_header{
    background: #E8162E;
    margin: 0;
    width: 100%;
    padding: 15px;
    img{
      width: 60%;
    }
  }

  .sub_figure{
    height: 0px;
    width: 0px;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-top: 0px solid transparent;
    border-bottom: 13px solid #E3E3E3;
    position: absolute;
    top: 60px;
    left: 15px;
  }
}
.tab {
  width: 100%;
  color: #505050;
  overflow: hidden;
  border-bottom: solid 1px silver;
  &-label {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    background: #ffffff;
    cursor: pointer;
    margin-bottom: 0;
    font-size: 15px;
    padding-left: 20%;
    padding-right: 8%;
    /* Icon */
    &::after {
      content: "\276F";
      width: 1em;
      height: 1em;
      text-align: center;
      transition: all 0.35s;
      transform: rotateZ(270deg);
    }
  }
  &-content {
    max-height: 0;
    height: 100%;
    color: #8c8c8c;
    background: #dddddd;
    transition: all 0.35s;
  }
  &-close {
    display: flex;
    justify-content: flex-end;
    padding: 1em;
    font-size: 0.75em;
    background: red;
    cursor: pointer;
  }

  input {
    position: absolute;
    opacity: 0;
    z-index: -1;
  }
  // :checked
  input:checked {
    + .tab-label {
     /*  background: #f2f2f2; */
      &::after {
        transform: rotate(90deg);
      }
    }
    ~ .tab-content {
      max-height: 100%;
      /* padding: 1em; */
    }
  }

  .tab_sub {
    .tab-label{
      background-color: transparent;
      font-size: 14px;
      color: #818181;
    }
    input:checked {
      + .tab-label {
        background: #f2f2f2;
        &::after {
          transform: rotate(90deg);
        }
      }
    }
    .acordion_subtitle{
      font-size: 14px;
      font-weight: bold;
      text-align: center;
      margin: 0;
      color: #818181;
      border-bottom: solid 1px silver;
      &.ac_title{
        font-size: 13px;
        background-color: #f2f2f2;
        padding: 10px 0;
        border-bottom: solid 2px white;
      }
      &.ac_links{
        font-weight: normal;
        padding-left: 29%;
        text-align: left;
      }
    }
  }

  .accordion_tab_sub{
    background-color: #f2f2f2;
    .min_text{
      background-color: #d6d6d6;
      font-size: 13px;
      padding: 5px 0% 5px 25%;
      color: #818181;
      margin: 0;
      font-weight: 500;
    }
    .max_text{
      font-size: 14px;
      color: #818181;
      font-weight: bold;
      padding-left: 28%;
    }
    .ac_links{
      font-size: 14px;
      color: #818181;
      padding-left: 28%;
      border-bottom: solid 1px #e4e0e08f;
    }

    &.macroeconomía{
      .min_text{
        font-size: 14px;
        font-weight: bold;
      }
      .ac_links{
        padding-left: 25%;
      }
    }
  }
}

.suscribe_btn {
  position: relative;

  button {
    outline: none;
  }

  .arrow-up {
    position: absolute;
    top: -8px;
    right: 14px;
    width: 0;
    height: 0;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-bottom: 12px solid white;
  }

  .subscribe_menu {
    background: white;
    position: absolute;
    z-index: 1000;
    top: 60px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 450px;
    right: 0;
    -webkit-box-shadow: 2px 4px 3px 0px rgba(206,206,206,1);
    -moz-box-shadow: 2px 4px 3px 0px rgba(206,206,206,1);
    box-shadow: 2px 4px 3px 0px rgba(206,206,206,1);

    .subscribe_item {
      padding: 15px 15px 12px;
      cursor: pointer;

      h4 {
        font-size: 14px;
        font-weight: bold;
        color: #676666;
      }

      p {
        color: #818181;
        font-size: 12px;
        font-style: italic;
        margin-bottom: 0px
      }
    }
  }
}
