<header class="header">
	<div class="container">
		<div class="header_section">
			<div class="mobile_menu">
				<!-- <div class="menu_icon">
					<span>menu</span>
				</div> -->
				<div id="mySidenav" class="sidenav">
					  <a href="" class="closebtn">&times;</a>
					  <a href="#">About</a>
					  <a href="#">Services</a>
					  <a href="#">Clients</a>
					  <a href="#">Contact</a>
					</div>
			</div>
			<div class="header_left">
				<div class="site_logo" [routerLink]="'/home'">
					<img src="./assets/images/logo-vision.png" alt="">
				</div><!-- 
				<div class="logo_after">
					<img src="./assets/images/logo_after.png" alt="">
				</div> -->
			</div>
			<div class="header_right">
				<div class="header_search">
					<input type="text" name="" placeholder="Busque por:informe,categoria,autor,fecha">
					<button type=""><i class="fa fa-search" aria-hidden="true"></i></button>
				</div>
				<div class="suscribe_btn">
					<button type="">Suscribase</button>
				</div>
			</div>
		</div>
	</div>
</header>
