<header class="header header_container">
	<div class="container">
		<div class="header_section">
			<div class="mobile_menu">
				<!-- <div class="menu_icon">
					<span>menu</span>
				</div> -->
				<span class="open_menu" onclick="openNav()">&#9776;</span>

				<div id="mySidenav" class="sidenav">
					<div>
						<span class="closebtn" onclick="closeNav()">&times;</span>
						<p onclick="closeNav()" class="close_text">Cerrar</p>
					</div>
					<div class="col accordion_menu">
						<div class="tabs">
							<div class="header_left acc_header">
								<div class="site_logo" [routerLink]="'/home'">
									<img src="/assets/images/logo-vision.svg" alt="">
								</div>
							</div>
							<div class="header_right search_menu">
								<div class="header_search">
									<input [(ngModel)]="searchText" type="text" (keyup.enter)="searchEvent()" name="" placeholder="¿Que está buscando?">
									<button type="" (click)="searchEvent()"><i class="fa fa-search" aria-hidden="true"></i></button>
								</div>
							</div>
							<div class="sub_figure"></div>

							<div class="tab acc_subscribe">
								<img src="/assets/images/Suscríbase.png" alt="">
								<input type="checkbox" id="chck0" (click)="mouseEnter(null)">
								<label class="tab-label" [ngClass]="{'tab-label-visible': subscribeMenuVisible}" for="chck0">Suscríbase</label>
								<div class="tab-content accordion_tab_sub macroeconomía" [ngClass]="{'tab-content-visible': subscribeMenuVisible}">
									<div class="col-sm-6 contact_content">
										<div class="subs" (click)="openQuincenalDialog()">
											<div class="subs__container">
												<h3>Boletín quincenal</h3>
												<p>Póngase al día con los informes destacados de las últimas 2 semanas</p>
											</div>
											<div class="subs__img">
												<img src="/assets/images/pagination_right.png" alt="">
											</div>
										</div>

										<div class="subs" [routerLink]="['/preferences']">
											<div class="subs__container">
												<h3>Informes personalizados</h3>
												<p>Seleccione solo los informes que más le interesan</p>
											</div>
											<div class="subs__img">
												<img src="/assets/images/pagination_right.png" alt="">
											</div>
										</div>

										<div class="subs" (click)="openDialog()">
											<div class="subs__container">
												<h3>Actualizar mis preferencias</h3>
												<p>Modifique su suscripción y reciba los informes de su interés.</p>
											</div>
											<div class="subs__img">
												<img src="/assets/images/pagination_right.png" alt="">
											</div>
										</div>
									</div>
								</div>
							</div>

							<div class="tab" *ngFor="let menu of menuOptions">
								<div>
									<input type="checkbox" id="chck{{menu.idx}}" (click)="mouseEnter(menu.idx)">
									<label class="tab-label" for="chck{{menu.idx}}" [ngClass]="{'tab-label-visible': menu.visible}">{{menu.name}}</label>
									<div class="tab-content accordion_tab_sub macroeconomía" [ngClass]="{'tab-content-visible': menu.visible}" *ngIf="menu.idx !== 7">
										<a [routerLink]="getCategoryLink(menu.idx)" class="min_text" (click)="go(menu.name)">Ver todo {{menu.name}}</a>
										<a class="acordion_subtitle ac_links" *ngFor="let item of getItems(menu)" (click)="getCategoryReportTypeLink(menu, item)">
											{{item.description ? item.description : item.name}}</a>
									</div>

                  <div class="tab-content accordion_tab_sub" [ngClass]="{'tab-content-visible': menu.visible}" *ngIf="menu.idx === 7">
                    <a [routerLink]="getCategoryLink(menu.idx)" class="min_text" (click)="go(menu.name)">Ver todo {{menu.name}}</a>
                    <div *ngFor="let inv of investmentGroups">
                      <p class="min_text" [routerLink]="getCategoryLink(menu.idx)" [queryParams]="getQueryParams(inv)">{{inv.name}}</p>
                      <a class="acordion_subtitle ac_links" *ngFor="let item of getItems(inv)" (click)="getCategoryReportTypeLink(menu, item)">
                        {{item.description ? item.description : item.name}}
                      </a>
                    </div>
                  </div>
								</div>
							</div>
							<div class="acc_multimedia">
								<a [routerLink]="['/multimedia']">Multimedia</a>
							</div>
						</div>
					</div>

				</div>
			</div>
			<div class="header_left">
				<div class="site_logo" [routerLink]="'/home'">
					<img src="./assets/images/logo-vision.svg" alt="">
				</div>
				<!--
				<div class="logo_after">
					<img src="./assets/images/logo_after.png" alt="">
				</div> -->
			</div>
			<div class="header_right">
				<div class="header_search">
          <input matInput [(ngModel)]="searchText" type="text"
                 placeholder="Busque por: informe, categoría, autor o fecha"
                 (keyup.enter)="searchEvent()">
					<button type="" (click)="searchEvent()"><i class="fa fa-search" aria-hidden="true"></i></button>
				</div>
				<div class="suscribe_btn">
					<button type="" (click)="subscribeMenuVisible = !subscribeMenuVisible">Suscribase</button>
          <div class="subscribe_menu" *ngIf="subscribeMenuVisible">
            <div class="arrow-up"></div>
            <div class="subscribe_item" (click)="openQuincenalDialog()">
              <h4>Bolet&iacute;n quincenal</h4>
              <p>P&oacute;ngase al d&iacute;a con los informes destacados de las &uacute;ltimas dos semanas</p>
            </div>
            <mat-divider></mat-divider>
            <div class="subscribe_item" [routerLink]="['/preferences']">
              <h4>Informes personalizados</h4>
              <p>Seleccione solo los informes que más le interesan</p>
            </div>
            <mat-divider></mat-divider>
            <div class="subscribe_item" (click)="openDialog()">
              <h4>Actualizar mis preferencias</h4>
              <p>Modifique su suscripción y reciba los informes de su interés.</p>
            </div>
          </div>
				</div>
			</div>
		</div>
	</div>
</header>
