	<div class="slider_part">
		<div class="container">
			<div class="slider_header">
				<h4>multimedia</h4>
				<p>Una biblioteca multimedia para que se conecte de manera diferente con el mundo de la economia,</p>
				<p>finanzas,inversiones y mucho mas.</p>
			</div>
			<div class="slider_content">
				<div class="owl-carousel owl-theme multimedia_img">
					<div class="item">
						<div class="slider_blog">
							<div class="slider_blog_img">
								<img src="assets/images/slider1.png" alt="">
								<div class="up_label">
									<p>VIDEO</p>
								</div>
								<div class="down_label">
									<p>NUEVO</p>
								</div>
								<div class="play_button"><img src="assets/images/play_btn.png" alt=""></div>
							</div>
							<div class="slider_blog_details">
								<p>CORREDORES DAVIVIENDA</p>
								<h4>Bienvenido a Homebroker</h4>
								<p class="date_mantion">1 julio 2020</p>
							</div>
						</div>
					</div>
					<div class="item">
						<div class="slider_blog">
							<div class="slider_blog_img">
								<img src="assets/images/f_video.png" alt="">
								<div class="up_label">
									<p>PODCAST</p>
								</div>
								<div class="play_button"><img src="assets/images/play_btn.png" alt=""></div>
							</div>
							<div class="slider_blog_details">
								<p>CORREDORES DAVIVIENDA</p>
								<h4>Bienvenido a Homebroker</h4>
								<p class="date_mantion">1 julio 2020</p>
							</div>
						</div>
					</div>
					<div class="item">
						<div class="slider_blog">
							<div class="slider_blog_img">
								<img src="assets/images/slider1.png" alt="">
								<div class="up_label">
									<p>PODCAST</p>
								</div>
								<div class="play_button"><img src="assets/images/play_btn.png" alt=""></div>
							</div>
							<div class="slider_blog_details">
								<p>CORREDORES DAVIVIENDA</p>
								<h4>Bienvenido a Homebroker</h4>
								<p class="date_mantion">1 julio 2020</p>
							</div>
						</div>
					</div>
				</div>
				<div class="slider_btn">
					<a href="#">Ver todo el contenido multimedia <i class="fa fa-angle-right" aria-hidden="true"></i></a>
				</div>
			</div>
		</div>
	</div>