	<div class="slider_part">
		<div class="container">
			<div class="slider_header">
				<h4>Multimedia</h4>
				<p>Una biblioteca multimedia para que se conecte de manera diferente con el mundo de la economia,</p>
				<p>finanzas,inversiones y mucho mas.</p>
			</div>
			<div class="slider_content">
				<div class="owl-carousel owl-theme multimedia_img">
					<div class="item" [ngClass]="{'invisible': !item1}">
						<div class="slider_blog" (click)="go(item1); tag('Home', 'Multimedia', ('multimedia').concat('/',item1.id), true);">
							<div class="slider_blog_img">
								<img [src]="getThumbSource(item1)" alt="">
								<div class="up_label">
									<p>{{getType(item1)}}</p>
								</div>
								<div class="down_label" *ngIf="isNewContent(item1)">
									<p>NUEVO</p>
								</div>
								<div class="play_button"><img src="assets/images/play_btn.png" alt=""></div>
							</div>
							<div class="slider_blog_details"  (click)="go(item1); tag('Home', 'Multimedia', ('multimedia').concat('/',item1.id), true);">
                <p style="text-transform: uppercase">{{item1?.params?.categoryName ? item1?.params?.categoryName : 'CORREDORES DAVIVIENDA'}}</p>
								<h4>{{item1?.title | truncate: 80: false}}</h4>
								<p class="date_mantion">{{item1?.createdAt | date:'d MMMM y'}}</p>
							</div>
						</div>
					</div>
          <div class="item" [ngClass]="{'invisible': !item2}">
            <div class="slider_blog" (click)="go(item2); tag('Home', 'Multimedia', ('multimedia').concat('/',item2.id), true);">
              <div class="slider_blog_img">
                <img [src]="getThumbSource(item2)" alt="">
                <div class="up_label">
                  <p>{{getType(item2)}}</p>
                </div>
                <div class="down_label" *ngIf="isNewContent(item2)">
                  <p>NUEVO</p>
                </div>
                <div class="play_button"><img src="assets/images/play_btn.png" alt=""></div>
              </div>
              <div class="slider_blog_details" (click)="go(item2); tag('Home', 'Multimedia', ('multimedia').concat('/',item2.id), true);">
                <p style="text-transform: uppercase">{{item2?.params?.categoryName ? item2?.params?.categoryName : 'CORREDORES DAVIVIENDA'}}</p>
                <h4>{{item2?.title | truncate: 80: false}}</h4>
                <p class="date_mantion">{{item2?.createdAt | date:'d MMMM y'}}</p>
              </div>
            </div>
          </div>
          <div class="item"  (click)="go(item3); tag('Home', 'Multimedia', ('multimedia').concat('/',item3.id), true);">
            <div class="slider_blog" [routerLink]="['/multimedia', item3 ? item3.id : 'none']">
              <div class="slider_blog_img">
                <img [src]="getThumbSource(item3)" alt="">
                <div class="up_label">
                  <p>{{getType(item3)}}</p>
                </div>
                <div class="down_label" *ngIf="isNewContent(item3)">
                  <p>NUEVO</p>
                </div>
                <div class="play_button"><img src="assets/images/play_btn.png" alt=""></div>
              </div>
              <div class="slider_blog_details" (click)="go(item3); tag('Home', 'Multimedia', ('multimedia').concat('/',item3.id), true);">
                <p style="text-transform: uppercase">{{item3?.params?.categoryName ? item3?.params?.categoryName : 'CORREDORES DAVIVIENDA'}}</p>
                <h4>{{item3?.title | truncate: 80: false}}</h4>
                <p class="date_mantion">{{item3?.createdAt | date:'d MMMM y'}}</p>
              </div>
            </div>
          </div>
          <!--
					<div class="item">
						<div class="slider_blog">
							<div class="slider_blog_img">
								<img src="assets/images/f_video.png" alt="">
								<div class="up_label">
									<p>PODCAST</p>
								</div>
								<div class="play_button"><img src="assets/images/play_btn.png" alt=""></div>
							</div>
							<div class="slider_blog_details">
								<p>CORREDORES DAVIVIENDA</p>
								<h4>Bienvenido a Homebroker</h4>
								<p class="date_mantion">1 julio 2020</p>
							</div>
						</div>
					</div>
					<div class="item">
						<div class="slider_blog">
							<div class="slider_blog_img">
								<img src="assets/images/slider1.png" alt="">
								<div class="up_label">
									<p>PODCAST</p>
								</div>
								<div class="play_button"><img src="assets/images/play_btn.png" alt=""></div>
							</div>
							<div class="slider_blog_details">
								<p>CORREDORES DAVIVIENDA</p>
								<h4>Bienvenido a Homebroker</h4>
								<p class="date_mantion">1 julio 2020</p>
							</div>
						</div>
					</div>
					-->
				</div>
				<div class="slider_btn">
					<a [routerLink]="['/multimedia']" (click)="tag('Home', 'Multimedia', 'Ver todo el contenido');">Ver todo el contenido multimedia <i class="fa fa-angle-right" aria-hidden="true"></i></a>
				</div>
			</div>
		</div>
	</div>
