<div style="display: block">

  <app-breadcrumb [pages]="breadcrumbItems"></app-breadcrumb>

  <div class="preapertura">
    <div class="container">
      <div class="banner_image">
        <img [src]="getBannerImg()" class="img-fluid" alt="">
      </div>
    </div>
  </div>

  <div class="analisis-main-div">
    <div class="container">

      <div class="analisis-text">
        <div class="container">
          <div class="analisis-inner-text">
            <h3>{{category?.description}}</h3>
            <p>{{category?.fullDescription}}</p>
          </div>
        </div>
      </div>
      <div class="analisis-information">
        <div class="container">
          <div class="row">
            <div class="col-md-3 col-sm-12 analisis-menu" *ngIf="category?.code !== 'ENQUINVERTIR'">
              <ul>
                <a (click)="setReportType(item)" *ngFor="let item of reportTypes">
                  <li [ngClass]="{'active': isMenuActive(item)}">
                    {{getReportTypeName(item)}}
                  </li>
                </a>
              </ul>
            </div>
            <div class="col-md-3 col-sm-12 analisis-menu" *ngIf="category?.code === 'ENQUINVERTIR'">
              <div class="enquinvertir-menu" *ngFor="let group of investmentGroups">
                <span class="title">{{group.name}}</span>
                <ul>
                  <a (click)="setReportType(item)" *ngFor="let item of group.reportTypes">
                    <li>{{getReportTypeName(item)}}</li>
                  </a>
                </ul>
              </div>
            </div>

            <div class="col-md-9 col-sm-12 analisis-contant">
              <div class="contant-1">
                <h3>{{getSubCategoryName() ? getSubCategoryName() : 'Informes'}}</h3>
                <div class="row">
                  <div class="col-md-6 col-sm-12 select-list">
                    <form>
                      <div *ngIf="category?.code === 'ANLISISDECOMPAAS'">
                        <label class="categorias-select-list">Filtro
                          :</label>
                        <ng-select [items]="companyTypesSelect" [searchable]="false"
                                   [clearable]="false"
                                   placeholder="Seleccione por tipo de informe"
                                   [multiple]="false" bindLabel="description" bindValue="id" class="company-type-select"
                                    (change)="setCompanyReportType($event)"></ng-select>
                      </div>
                    </form>
                  </div>
                  <div class="col-md-6 col-sm-12 full-width">
                    <div class="date-picker-categorias">
                      <label class="categorias-date-label">Filtre fecha</label>
                      <div class="date-picker-1">
                        <mat-form-field class="date-picker-category">
                          <mat-label class="date_filter">Desde</mat-label>
                          <input matInput [matDatepicker]="dateStart"
                                 (dateChange)="setStartDate($event)">
                          <mat-datepicker-toggle matSuffix [for]="dateStart" placeholder="Hola"></mat-datepicker-toggle>
                          <mat-datepicker #dateStart></mat-datepicker>
                        </mat-form-field>
                      </div>
                      <div class="date-picker-1">
                        <mat-form-field class="date-picker-category">
                          <mat-label class="date_filter">Hasta</mat-label>
                          <input matInput [matDatepicker]="dateEnd"
                                 (dateChange)="setEndDate($event)">
                          <mat-datepicker-toggle matSuffix [for]="dateEnd"></mat-datepicker-toggle>
                          <mat-datepicker #dateEnd></mat-datepicker>
                        </mat-form-field>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="contant gray-back" *ngFor="let report of reports">
                <div class="detail">
                  <h3>{{getReportSubCategoryName(report?.reportType)}}</h3>
                  <h4 class="reportTitle" [routerLink]="['/reports', report?.id]">{{report?.rTitle | striphtml}}
                  </h4>
                  <p>{{report?.smartContent | truncate: 180: true}}
                  </p>
                  <p class="small ">{{report?.publishedAt | date:'d MMMM y'}}</p>
                  <a *ngIf="isANewReport(report)">
                    <button class="btn contant-btn ">Informe nuevo</button>
                  </a>
                </div>
              </div>
            </div>

            <div class="mobile-pagination">
              <div class="mob-set-div">
                <a class="mob-button" *ngIf="currentPage > 1" (click)="previousPage()">Anterior</a>
                <a class="mob-button" *ngIf="currentPage < totalPages" (click)="nextPage()">Siguiente</a>
                <p>1/19</p>
              </div>
            </div>

            <div class="contant-pagination ">
              <div class="contant-page-set">
                <a *ngIf="currentPage > 1" class="underline float-left" (click)="previousPage()">Anterior</a>
                <a *ngIf="currentPage < totalPages" class="underline " (click)="nextPage()">Siguiente</a>
                <div class="dropdown ">
                  <label for="page " id="page ">Página</label>
                  <div class="dropdown">

                    <ng-select [items]="pagesItems" [searchable]="false"
                               [clearable]="false"
                               (change)="pageChanged()"
                               [(ngModel)]="currentPage"
                               [multiple]="false" class="page-select"></ng-select>
                  </div>


                </div>
                <label for="page " id="page">de {{totalPages}}</label>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br style="clear: both">
</div>
