<div style="display: block">
  <div class="page_direction">
    <div class="container">
      <ul>
        <li class="back_page"><a href="#"><i class="fa fa-arrow-left" aria-hidden="true"></i>Volver </a></li>
        <li><a href="#">Inicio</a></li>
        <li><a href="#">Pagina dos</a></li>
        <li><a href="#">Pagina tres</a></li>
      </ul>
    </div>
  </div>

  <div class="preapertura">
    <div class="container">
      <div class="banner_image">
        <img src="../../../../assets/images/Imagen 3.png" class="img-fluid" alt="">
      </div>
    </div>
  </div>

  <div class="analisis-main-div">
    <div class="container">

      <div class="analisis-text">
        <div class="container">
          <div class="analisis-inner-text">
            <h3>Análisis de compañias</h3>
            <p>Acceda a las recomendaciones, precios objetivo, estimaciones, análisis de resultados financieros, y toda
              la información relevante sobre las compañías que hacen parte de nuestro universo de cobertura.
            </p>
          </div>
        </div>
      </div>
      <div class="analisis-information">
        <div class="container">
          <div class="row">
            <div class="col-md-3 col-sm-12 analisis-menu">
              <ul>
                <a href="#">
                  <li>Avianca Holdings</li>
                </a>
                <a href="#">
                  <li>Bancolombia</li>
                </a>
                <a href="#">
                  <li>Banco de Bogotá</li>
                </a>
                <a href="#">
                  <li>Celsia</li>
                </a>
                <a href="#">
                  <li>CEMEX</li>
                </a>
                <a href="#">
                  <li>Conconcreto</li>
                </a>
                <a href="#">
                  <li>Davivienda</li>
                </a>
                <a href="#">
                  <li>Ecopetrol</li>
                </a>
                <a href="#">
                  <li>El Cóndor</li>
                </a>
                <a href="#">
                  <li>GEB</li>
                </a>
                <a href="#">
                  <li>Grupo Argos</li>
                </a>
                <a href="#">
                  <li>Grupo Aval</li>
                </a>
                <a href="#">
                  <li>Grupo Éxito</li>
                </a>
                <a href="#">
                  <li>Grupo Nutresa</li>
                </a>
                <a href="#">
                  <li>Grupo Sura</li>
                </a>
                <a href="#">
                  <li>ISA</li>
                </a>
                <a href="#">
                  <li>Mineros</li>
                </a>
                <a href="#">
                  <li>PEI</li>
                </a>
                <a href="#">
                  <li>Promigas</li>
                </a>
                <a href="#">
                  <li>Terpel</li>
                </a>

              </ul>
            </div>

            <div class="col-md-9 col-sm-12 analisis-contant">
              <div class="contant-1">
                <h3>Informes avianca holdings</h3>
                <div class="row">
                  <div class="col-md-6 col-sm-12 select-list-hide">
                    <form>
                      <div class="form-group">
                        <label for="sel1" class="categorias-select-list">Filtro
                          :</label>
                        <select class="form-control" id="sel1" placeholder="Seleccione por tipo de informe"
                                name="sellist1">
                          <option>Actualización de cobertura</option>
                          <option>Resultados financieros</option>
                          <option>Informes especiales</option>
                          <option>Alertas de mercado</option>
                        </select>
                      </div>
                    </form>
                  </div>
                  <div class="col-md-6 col-sm-12 full-width">
                    <div class="date-picker-categorias">
                      <label for="sel1" class="categorias-date-label">Filtre fecha
                        :</label>
                      <div class="date-picker-1">
                        <input type="text" class="form-control cotegorias-date-1 date-picker-cate" placeholder="Desde">
                        <span><i class="far fa-calendar-alt"></i></span>
                      </div>
                      <div class="date-picker-2">
                        <input type="text" class="form-control cotegorias-date-2 date-picker-cate" placeholder="Hasta">
                        <span><i class="far fa-calendar-alt"></i></span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>


              <div class="contant gray-back">
                <div class="detail ">

                  <h3>Avianca Holdings</h3>
                  <h4>Consejo del Gobierno Banco Central Europeo continuará con su programa
                  </h4>
                  <p>El Consejo decidió mantener sin cambio sus tasas de política monetaria y confirmó su intención de
                    continuar su programa de compras de activos a un ritmo de €30,000 millones de euros mensuales.
                  </p>
                  <p class="small ">1 Julio 2020</p>


                  <a href="# ">
                    <button class="btn contant-btn ">Informe nuevo</button>
                  </a>
                </div>
              </div>

              <div class="contant ">
                <div class="detail ">

                  <h3>Avianca Holdings - Actualización de cobertura</h3>
                  <h4>Consejo del Gobierno Banco Central Europeo continuará con su programa
                  </h4>
                  <p>El Consejo decidió mantener sin cambio sus tasas de política monetaria y confirmó su intención de
                    continuar su programa de compras de activos a un ritmo de €30,000 millones de euros mensuales.
                  </p>
                  <p class="small ">1 Julio 2020</p>

                  <a href="# ">
                    <button class="btn contant-btn ">Informe nuevo</button>
                  </a>
                </div>

              </div>

              <div class="contant gray-back">
                <div class="detail ">

                  <h3>Avianca Holdings - Actualización de cobertura</h3>
                  <h4>Mejoran las ventas de comercio al por menor</h4>
                  <p>Las ventas reales del comercio al por menor... en mayo aceleraron su dinámica significativamente
                    aunque siguen mostrando una leve desaceleración frente al año pasado.</p>
                  <p class="small ">1 Julio 2020</p>


                  <a href="# ">
                    <button class="btn contant-btn ">Informe nuevo</button>
                  </a>
                </div>
              </div>

              <div class="contant decrease-padd">
                <div class="detail ">

                  <h3>Avianca Holdings</h3>
                  <h4>Consejo del Gobierno Banco Central Europeo continuará con su programa
                  </h4>
                  <p>El Consejo decidió mantener sin cambio sus tasas de política monetaria y confirmó su intención de
                    continuar su programa de compras de activos a un ritmo de €30,000 millones de euros mensuales.
                  </p>
                  <p class="small ">1 Julio 2020</p>

                </div>
              </div>

              <div class="contant gray-back decrease-padd">
                <div class="detail ">

                  <h3>Avianca Holdings - Informes especiales</h3>
                  <h4>Mejoran las ventas de comercio al por menor</h4>
                  <p>Las ventas reales del comercio al por menor... en mayo aceleraron su dinámica significativamente
                    aunque siguen mostrando una leve desaceleración frente al año pasado.
                  </p>
                  <p class="small ">1 Julio 2020</p>
                </div>

              </div>

              <div class="contant decrease-padd">
                <div class="detail ">
                  <h3>Avianca Holdings - Informes especiales</h3>
                  <h4>Mejoran las ventas de comercio al por menor</h4>
                  <p>Las ventas reales del comercio al por menor... en mayo aceleraron su dinámica significativamente
                    aunque siguen mostrando una leve desaceleración frente al año pasado.</p>
                  <p class="small ">1 Julio 2020</p>
                </div>
              </div>
            </div>

            <div class="mobile-pagination">
              <div class="mob-set-div">
                <a class="mob-button " href="# ">Siguiente</a>
                <p>1/19</p>
              </div>
            </div>

            <div class="contant-pagination ">
              <div class="contant-page-set">
                <a class="underline " href="# ">Siguiente</a>
                <div class="dropdown ">
                  <label for="page " id="page ">Página</label>
                  <div class="dropdown">
                    <a class="btn  btn-pagination dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      1
                    </a>

                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">

                      <a class="dropdown-item " href="# ">1</a>
                      <a class="dropdown-item " href="# ">2</a>
                      <a class="dropdown-item " href="# ">3</a>
                      <a class="dropdown-item " href="# ">4</a>
                      <a class="dropdown-item " href="# ">5</a>
                      <a class="dropdown-item " href="# ">6</a>
                      <a class="dropdown-item " href="# ">7</a>
                      <a class="dropdown-item " href="# ">8</a>
                      <a class="dropdown-item " href="# ">9</a>
                      <a class="dropdown-item " href="# ">10</a>
                      <a class="dropdown-item " href="# ">11</a>
                      <a class="dropdown-item " href="# ">12</a>
                      <a class="dropdown-item " href="# ">13</a>
                      <a class="dropdown-item " href="# ">14</a>
                      <a class="dropdown-item " href="# ">15</a>
                      <a class="dropdown-item " href="# ">16</a>
                      <a class="dropdown-item " href="# ">17</a>
                      <a class="dropdown-item " href="# ">18</a>
                      <a class="dropdown-item " href="# ">19</a>
                    </div>
                  </div>


                </div>
                <label for="page " id="page">de 19</label>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br style="clear: both">
</div>
