<div class="page_direction">
  <div class="container">
    <ul>
      <li class="back_page"><a href="#"><i class="fa fa-arrow-left" aria-hidden="true"></i>Atras </a></li>
      <li><a href="#">Inicio</a></li>
      <li><a href="#">Pagina</a></li>
      <li><a href="#">Pagina tres</a></li>
    </ul>
  </div>
</div>

<div class="Nuestros-indicadores">
  <div class="container">
    <div class="Nuestros-indicadores-video">
      <img src="../../../../assets/images/Nuestros-indicadores-image-1.png" class="img-fluid">
    </div>
    <div class="Nuestros-indicadores-contant">
      <h4>Corredores Davivienda</h4>
      <h2>Tenga en cuenta los cambios tributarios después de aprobada</h2>
      <h6>1 Julio 2020</h6>
      <p>Aquí podrá acceder a las cápsulas en las que nuestro equipo de trabajo le presenta lo más relevante en temas económicos, financieros y recomendaciones de inversión</p>
    </div>
  </div>
  <div class="Nuestros-indicadores-socoal-media">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-sm-6 text-right">
          <h4>Compartir este informe por:</h4>
        </div>
        <div class="col-md-6 col-sm-6">
          <a href="#" data-toggle="tooltip" data-placement="top" title="Twitter"><span><i class="fab fa-twitter"></i></span></a>
          <a href="#" data-toggle="tooltip" data-placement="top" title="linkedin"><span><i class="fab fa-linkedin"></i></span></a>
          <a href="#" data-toggle="tooltip" data-placement="top" title="Email"><span><i class="fas fa-envelope"></i></span></a>
          <a href="#" data-toggle="tooltip" data-placement="top" title="Link"><span><i class="fas fa-link"></i></span></a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="Nuestros-indicadores-Recomendados">
  <div class="container">
    <h2>Recomendados</h2>
    <div class="nir-inline-video">
      <div class="row">
        <div class="col-md-4 col-sm-4 nir_content">
          <img src="../../../../assets/images/nir-video-1.png" class="img-fluid">
          <div class="nir-inline-video-contant">
            <h5>Nombre de la categoría del informe</h5>
            <h3>Lorem ipsum dolor sit amet</h3><br>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <button type="button" class="btn nir-inline-video-btn">Leer más</button>
          </div>
        </div>

        <div class="col-md-4 col-sm-4 nir_content">
          <img src="../../../../assets/images/nir-video-2.png" class="img-fluid">
          <div class="nir-inline-video-contant">
            <h5>Nombre de la categoría del informe</h5>
            <h3>Lorem ipsum dolor sit amet, consectetur</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <button type="button" class="btn nir-inline-video-btn">Leer más</button>
          </div>
        </div>

        <div class="col-md-4 col-sm-4 full-image nir_content">
          <img src="../../../../assets/images/nir-video-3.png" class="img-fluid">
          <div class="nir-inline-video-contant">
            <h5>Corredores Davivienda</h5>
            <h3>Siga estas recomendaciones para invertir en junio</h3>
            <p>1 Julio 2020
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
