<app-breadcrumb [pages]="breadcrumbItems"></app-breadcrumb>

<div class="Nuestros-indicadores">
  <div class="container">
    <div class="Nuestros-indicadores-video">
      <div *ngIf="type === 'Video'">
        <iframe id="player" type="text/html" width="640" height="390"
                [src]="getVideoUrl()"
                frameborder="0"></iframe>
      </div>
      <div *ngIf="type === 'Podcast'">
        <div *ngIf="!isIframe">
          <audio controls autoplay>
            <source [src]="getPodcastUrl()" type="audio/mpeg">
            Your browser does not support the audio element.
          </audio>
        </div>
        <div *ngIf="isIframe" [innerHTML]="getPodcastHtml()">
        </div>
      </div>
      <div *ngIf="type === 'Webinar'">
        <a [href]="getWebinarUrl()" target="_blank">Ir al webinar</a>
      </div>
    </div>
    <div class="Nuestros-indicadores-contant">
      <h4>{{category}}</h4>
      <h2>{{content?.title}}</h2>
      <h6>{{content?.createdAt | date:'d MMMM y'}}</h6>
      <p>{{content?.description}}</p>
    </div>
  </div>
  <div class="Nuestros-indicadores-socoal-media">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-sm-6 text-right">
          <h4>Compartir este informe por:</h4>
        </div>
        <div class="col-md-6 col-sm-6">
          <a (click)="tag('Multimedia', 'twitter', ('Compartit - ').concat(content?.title))" href="#" data-toggle="tooltip" data-placement="top" title="Twitter"><span><i class="fab fa-twitter"></i></span></a>
          <a (click)="tag('Multimedia', 'linkedin', ('Compartit - ').concat(content?.title))" href="#" data-toggle="tooltip" data-placement="top" title="linkedin"><span><i class="fab fa-linkedin"></i></span></a>
          <a (click)="tag('Multimedia', 'email', ('Compartit - ').concat(content?.title))" href="#" data-toggle="tooltip" data-placement="top" title="Email"><span><i class="fas fa-envelope"></i></span></a>
          <a (click)="tag('Multimedia', 'link', ('Compartit - ').concat(content?.title))" href="#" data-toggle="tooltip" data-placement="top" title="Link"><span><i class="fas fa-link"></i></span></a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="Nuestros-indicadores-Recomendados">
  <div class="container">
    <h2>Recomendados</h2>
    <div class="nir-inline-video">
      <div class="row">
        <div class="col-md-4 col-sm-4 nir_content" *ngFor="let report of relateds">
          <img src="../../../../assets/images/nir-video-1.png" class="img-fluid">
          <div class="nir-inline-video-contant">
            <h5>{{getCategory(report?.reportType)}}</h5>
            <h3>{{report?.rTitle | striphtml}}</h3><br>
            <p>{{report?.smartContent}}</p>
            <button type="button" class="btn nir-inline-video-btn" [routerLink]="['/reports', report?.id]" (click)="tag('Multimedia', ['/reports', report?.id], ('Relacionado - ').concat(report?.rTitle))">Leer más</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
