<header class="header header_container">
  <div class="container">
    <div class="header_section">
      <div class="header_left">
        <div class="site_logo" [routerLink]="'/home'">
          <img src="./assets/images/logo-vision.svg" alt="">
        </div>
        <!--
        <div class="logo_after">
          <img src="./assets/images/logo_after.png" alt="">
        </div> -->
      </div>
    </div>
  </div>
</header>

<div class="regresar-section">
  <div class="container">
    <p class="link-back" [routerLink]="['/home']"><i class="fas fa-arrow-left"></i>Regresar</p>
  </div>
</div>

<div class="regresar-text">
  <div class="container">
    <div class="regresar-text-head">
      <h3>¡Bienvenido!</h3>
      <h4>Aquí puede realizar la personalización de los informes que quiere recibir.</h4>
      <p>Haga clic en la categoría que prefiera y elija los informes que quiere en su correo electrónico.</p>
    </div>
  </div>
</div>

<div class="email-menu">
  <div class="container">
    <mat-tab-group (selectedTabChange)="changeCategory($event)" [(selectedIndex)]="selectedIdx">
      <mat-tab [label]="category.description" *ngFor="let category of mainCategories">
        <div *ngIf="category.code !== 'ENQUINVERTIR'" class="tab__wrapper">
          <div class="row">
            <div class="col-md-9 col-sm-12 menu-text" *ngIf="form.controls.reportTypes">
              <div class="menu-text-inner">
                <p>{{category.fullDescription}}
                </p>
                <form [formGroup]="form">

                <div class="row select_reports">
                  <div class="col-md-12 col-sm-12 pl-0 pr-0 regresar_checkbox">
                    <div class="custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input" id="selectAllCb" name="regresarcheck" [(ngModel)]="cbs.selectAllCb"
                              (change)="toggleSelection()" [ngModelOptions]="{standalone: true}">
                      <label class="custom-control-label" for="selectAllCb">Seleccionar todos los
                        informes</label>
                    </div>
                  </div>
                </div>

                <div class="row row-column" formArrayName="reportTypes">
                    <div class="col-md-12 colunm-style">
                      <div class="box-margin1" *ngFor="let type of selectedCategory?.childrenMainReportTypes; let i = index">
                        <div class="menu-text-box-1">
                          <div class="custom-control custom-checkbox">
                            <input [formControlName]="getTypeIndex(type)" type="checkbox" class="custom-control-input" [id]="type.id" name="example1">
                            <label class="custom-control-label" [for]="type.id"> <h4 class="text-wrap">{{type.description}} </h4>
                              <p>Periodicidad: {{getFreqLabel2(type)}}</p></label>
                            <a *ngIf="type?.info" (mouseenter)="type.tooltipVisible = true" (mouseleave)="type.tooltipVisible = false"><span><i class="fas fa-info-circle"></i></span>
                              <div class="info-type-tooltip" *ngIf="type?.info && type?.tooltipVisible">
                                <div class="block">
                                  <div>{{type.info}}</div>
                                </div>

                                <div class="arrow-down"></div>
                              </div>
                            </a>
                          </div>
                        </div>
                        <div class="menu-text-box-1" >
                        </div>
                      </div>
                      <div class="box-margin1" *ngIf="selectedCategory?.childrenMainReportTypes.length % 2 !== 0" >
                        <div class="menu-text-box-1">
                          <div class="custom-control custom-checkbox custom-checkbox-hide">
                          </div>
                        </div>
                      </div>
                    </div>
                </div>
                </form>
              </div>

              <div class="red-button">
                <a (click)="previousCategory()" class="left" *ngIf="selectedIdx > 0">
                  <button type="button" class="btn btn-red">
                    <span><i class="fas fa-chevron-left"></i></span>
                    {{getPreviousCatName()}}</button>
                </a>
                <a (click)="nextCategory()" class="right" *ngIf="selectedIdx < (mainCategories.length - 1)">
                  <button type="button" class="btn btn-red">
                    {{getNextCatName()}}<span><i class="fas fa-chevron-right"></i></span>
                  </button>
                </a>
              </div>
            </div>
            <div class="col-md-3 col-sm-12 menu-box ">
              <div class="menu-border-box ">
                <div class="menu-box-head ">
                  <h3>Resumen selección</h3>
                </div>
                <div class="menu-box-inner">

                  <div class="cat-box" *ngFor="let mcategory of getSelectedCategories()">
                    <h3>{{mcategory.description}}</h3>

                    <div *ngFor="let type of mcategory.reportTypes">
                      <h4>{{type.description}} <a (click)="unselectReportType(type)" style="cursor: pointer"><span><i class="fas fa-trash-alt"></i></span></a></h4>
                      <p>Recibirá <strong>{{type.qty}}</strong> correos {{getFreqLabel(type.period)}}</p>
                    </div>
                  </div>
                </div>

                <div class="box-bottom-text">
                  <p>Se está suscribiendo a <span class="red">{{getCheckboxesSelected().length}}</span> informes y recibirá aproximadamente <span class="red">{{getMonthlyReports()}}</span> correos al mes, sin contar los informes eventuales.</p>
                  <a><button type="button" class="btn box-bottom-btn" (click)="openSubscriptionModal()" [disabled]="getCheckboxesSelected().length === 0">{{accessToken ? 'Actualizar' : 'Activar'}} suscripción<span><i class="fas fa-chevron-right"></i></span></button></a>
                </div>
              </div>

            </div>
          </div>
        </div>
        <div *ngIf="category.code === 'ENQUINVERTIR'" class="menu-contant">
          <div class="row">
            <div class="col-md-9 col-sm-12 menu-text">
              <div class="col-md-12 col-sm-12">
                <div class="menu-text-inner regresar-menu-text">
                  <p>{{category.description}}
                  </p>
                  <div class="col-md-7 col-sm-12 pl-0 pr-0 regresar_checkbox">
                    <form>
                      <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="customCheck" name="regresarcheck" [(ngModel)]="cbs.selectAllCb"
                               (change)="toggleSelection()">
                        <label class="custom-control-label" for="customCheck">Seleccionar todos los
                          informes</label>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
              <form>
              <div class="regresar-contant" *ngFor="let subcategory of selectedCategory.children; index as i">
                <div class="regresar-Acciones">
                  <div class="col-md-12 col-sm-12">
                    <h3>{{subcategory.description}}</h3>
                    <div class="regresar-Acciones-contant">
                      <div class="col-md-7 col-sm-12 pl-0 pr-0">
                          <div class="custom-control custom-checkbox regresar-checkbox">
                            <input type="checkbox" class="custom-control-input" [(ngModel)]="subcategoryCbs[subcategory.id]"
                                   [ngModelOptions]="{standalone: true}" [id]="subcategory.id" name="example-1"
                            (change)="toggleSubcategory(subcategory.id)">
                            <label class="custom-control-label" [for]="subcategory.id">
                              <ul>
                                <li *ngFor="let type of subcategory.childrenSubReportTypes">. {{type.description}}</li>
                                <li class="edit-item"><a (click)="openInvestDialog($event, subcategory)"><u><i class="fas fa-edit"></i>Quitar uno o más
                                  informes</u></a></li>
                              </ul>
                            </label>

                            <a *ngIf="subcategory?.info" (mouseenter)="subcategory.tooltipVisible = true" (mouseleave)="subcategory.tooltipVisible = false"><span><i class="fas fa-info-circle"></i></span>
                              <div class="info-type-tooltip big" *ngIf="subcategory?.info && subcategory?.tooltipVisible">
                                <div class="block">
                                  <div>{{subcategory.info}}</div>
                                </div>

                                <div class="arrow-down"></div>
                              </div>
                            </a>
                            <div class="modal" id="myModal">
                              <div class="modal-dialog">
                                <div class="modal-content">
                                  <div class="container-fluid">

                                    <!-- Modal Header -->
                                    <div class="modal-header">
                                      <h4 class="title-text">Editar preferencias de acciones
                                      </h4>
                                      <p class="right-flow">Cerrar</p>
                                      <button type="button" class="close" data-dismiss="modal">×</button>
                                    </div>

                                    <!-- Modal body -->
                                    <!--<div class="modal-body">

                                      <h4>Aquí podrá retirar elementos del grupo seleccionado
                                      </h4>
                                      <div class="modal-body-contant">
                                        <div class="body-header">
                                          <h5 class="body-left">Nombre</h5>
                                          <h5 class="body-right">Periodicidad</h5>
                                        </div>
                                        <div class="regresar-popup-chechbox">
                                          <ul>
                                            <li>

                                              <div class="custom-control custom-checkbox regresar-popup-1">
                                                <input type="checkbox" class="custom-control-input" id="modal-customCheck1" name="modalexample1">
                                                <label class="custom-control-label" for="modal-customCheck1">
                                                  <div class="modal-checkbox-text">
                                                    <h4 class="body-left">
                                                      Actualización
                                                      de
                                                      coberturas
                                                    </h4>
                                                    <p class="body-right">
                                                      Quincenal
                                                    </p>
                                                  </div>
                                                </label>
                                              </div>
                                            </li>

                                          </ul>

                                          <ul>
                                            <li>
                                              <form>
                                                <div class="custom-control custom-checkbox regresar-popup-1">
                                                  <input type="checkbox" class="custom-control-input" id="modal-customCheck2" name="modalexample2">
                                                  <label class="custom-control-label" for="modal-customCheck2">
                                                    <div class="modal-checkbox-text">
                                                      <h4 class="body-left">
                                                        Estrategia
                                                        mensual
                                                      </h4>
                                                      <p class="body-right">
                                                        Semanal
                                                      </p>
                                                    </div>
                                                  </label>
                                                </div>
                                              </form>
                                            </li>
                                          </ul>

                                          <ul>
                                            <li>
                                              <form>
                                                <div class="custom-control custom-checkbox regresar-popup-1">
                                                  <input type="checkbox" class="custom-control-input" id="modal-customCheck3" name="modalexample3">
                                                  <label class="custom-control-label" for="modal-customCheck3">
                                                    <div class="modal-checkbox-text">
                                                      <h4 class="body-left">
                                                        Reporte de
                                                        resultados
                                                        trimestrales
                                                      </h4>
                                                      <p class="body-right">
                                                        Anual
                                                      </p>
                                                    </div>
                                                  </label>
                                                </div>
                                              </form>
                                            </li>
                                          </ul>

                                          <ul>
                                            <li>
                                              <form>
                                                <div class="custom-control custom-checkbox regresar-popup-1">
                                                  <input type="checkbox" class="custom-control-input" id="modal-customCheck4" name="modalexample4">
                                                  <label class="custom-control-label" for="modal-customCheck4">
                                                    <div class="modal-checkbox-text">
                                                      <h4 class="body-left">
                                                        Informes
                                                        especiales
                                                      </h4>
                                                      <p class="body-right">
                                                        Diario
                                                      </p>
                                                    </div>
                                                  </label>
                                                </div>
                                              </form>
                                            </li>
                                          </ul>
                                        </div>
                                      </div>
                                      <div class="regresar-popup-btn">
                                        <button type="button" class="btn reg-popup-redbtn reg-left-btn">Cancelar</button>
                                        <button type="button" class="btn reg-popup-brownbtn reg-right-btn">Aplicar</button>
                                      </div>

                                    </div>-->
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                      </div>

                    </div>
                  </div>
                </div>
              </div>
              </form>

              <div class="regresar-btn">
                <div class="red-button">
                  <a (click)="previousCategory()" class="left" *ngIf="selectedIdx > 0">
                    <button type="button" class="btn btn-red">
                      <span><i class="fas fa-chevron-left"></i></span>
                      {{getPreviousCatName()}}</button>
                  </a>
                  <a (click)="nextCategory()" class="right" *ngIf="selectedIdx < (mainCategories.length - 1)">
                    <button type="button" class="btn btn-red">
                      {{getNextCatName()}}<span><i class="fas fa-chevron-right"></i></span>
                    </button>
                  </a>
                </div>

                <!-- Modal -->
                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-body">
                        <div class="modal-header">
                          <p class="right-flow">Cerrar</p>
                          <button type="button" class="close" data-dismiss="modal">×</button>
                        </div>
                        <div class="popup-head-contant">
                          <h3>Para actualizar sus preferencias, por favor necesitamos validar
                            <b>su dirección de correo electrónico,</b> a continuación.</h3>
                        </div>

                        <div class="libro-electrónico">
                          <input type="text" name="" placeholder="Correo electronico">
                        </div>

                        <div class="regresar-popup-button">
                          <button type="button" class="btn popup-red-btn">Validar</button>
                        </div>


                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>




            <div class="col-md-3 col-sm-12 menu-box ">
              <div class="menu-border-box ">
                <div class="menu-box-head ">
                  <h3>Resumen selección</h3>
                </div>
                <div class="menu-box-inner">

                  <div class="cat-box" *ngFor="let mcategory of getSelectedCategories()">
                    <h3>{{mcategory.description}}</h3>

                    <div *ngFor="let type of mcategory.reportTypes">
                      <h4>{{type.description}} <a (click)="unselectReportType(type)" style="cursor: pointer"><span><i class="fas fa-trash-alt"></i></span></a></h4>
                      <p>Recibirá <strong>{{type.qty}}</strong> correos {{getFreqLabel(type.period)}}</p>
                    </div>
                  </div>
                </div>

                <div class="box-bottom-text">
                  <p>Se está suscribiendo a <span class="red">{{getCheckboxesSelected().length}}</span> informes y recibirá aproximadamente <span class="red">{{getMonthlyReports()}}</span> correos al mes, sin contar los informes eventuales.</p>
                  <a><button type="button" class="btn box-bottom-btn" (click)="openSubscriptionModal()" [disabled]="getCheckboxesSelected().length === 0">{{accessToken ? 'Actualizar' : 'Activar'}} suscripción<span><i class="fas fa-chevron-right"></i></span></button></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
  <div class="email_legal">
    <p>Banco Davivienda S.A. todos los derechos reservados 2020</p>
  </div>
</div>
