<div>
	<div class="information_content_sidebar">
		<div class="information_sidebar_first_content">
			<div class="isfc_left">
				<h4>De liquidez y oportunidades</h4>
				<p>informe especializado donde puede conocer...</p>
				<a href="#">Descargue aca el libro</a>
			</div>
			<div class="isfc_right">
				<img src="assets/images/books.png" alt="">
			</div>
		</div>
		<div class="information_sidebar_first_content">
			<div class="isfc_left full_width">
				<h4>Informe anual de mercados</h4>
				<p>orem ipsum dolor sit amet,consectetur adeipiscing elit,sed do eiusmod tempor</p>
				<a href="#">Ver informe</a>
			</div>
		</div>
		<div class="information_sidebar_tabs">
			<ul class="nav nav-tabs">
				<li class="active"><a href="#tab-1">Ultimos informes</a></li>
				<li class=""><a href="#tab-2">mas leidos</a></li>
			</ul>
			<div class="tab-content">
				<div id="tab-1" class="tab-pane active">
					<div class="information_sidebar_first_content">
						<div class="isfc_left">
							<p>Acceda aqui al informe</p>
							<h4>diario de mercados</h4>
							<a href="#">ver ahora</a>
						</div>
						<div class="isfc_right">
							<img src="assets/images/tablet.png" alt="">
						</div>
					</div>
					<hr>
					<div class="information_tab_pen">
						<a href="#">PERSPECTIVAS MACROECONOMICAS</a>
						<h4>Aumenta el precio del petroleo por coyuntura politica</h4>
						<p>15 agosto 2019</p>
					</div>
					<hr>
					<div class="information_sidebar_first_content">
						<div class="isfc_left">
							<p>Acceda aqui al informe</p>
							<h4>diario de mercados</h4>
							<a href="#">ver ahora</a>
						</div>
						<div class="isfc_right">
							<img src="assets/images/tablet.png" alt="">
						</div>
					</div>
					<hr>
					<div class="information_tab_pen">
						<a href="#">PERSPECTIVAS MACROECONOMICAS</a>
						<h4>Aumenta el precio del petroleo por coyuntura politica</h4>
						<p>15 agosto 2019</p>
					</div>
					<hr>
					<div class="information_tab_pen">
						<a href="#">PERSPECTIVAS MACROECONOMICAS</a>
						<h4>Aumenta el precio del petroleo por coyuntura politica</h4>
						<p>15 agosto 2019</p>
					</div>
					<hr>
				</div>
				<div id="tab-2" class="tab-pane">
					<div class="information_sidebar_first_content">
						<div class="isfc_left">
							<p>Acceda aqui al informe</p>
							<h4>diario de mercados</h4>
							<a href="#">ver ahora</a>
						</div>
						<div class="isfc_right">
							<img src="assets/images/tablet.png" alt="">
						</div>
					</div>
					<hr>
					<div class="information_tab_pen">
						<a href="#">PERSPECTIVAS MACROECONOMICAS</a>
						<h4>Aumenta el precio del petroleo por coyuntura politica</h4>
						<p>15 agosto 2019</p>
					</div>
					<hr>
					<div class="information_tab_pen">
						<a href="#">PERSPECTIVAS MACROECONOMICAS</a>
						<h4>Aumenta el precio del petroleo por coyuntura politica</h4>
						<p>15 agosto 2019</p>
					</div>
					<hr>
					<div class="information_tab_pen">
						<a href="#">PERSPECTIVAS MACROECONOMICAS</a>
						<h4>Aumenta el precio del petroleo por coyuntura politica</h4>
						<p>15 agosto 2019</p>
					</div>
					<hr>
					<div class="information_tab_pen">
						<a href="#">PERSPECTIVAS MACROECONOMICAS</a>
						<h4>Aumenta el precio del petroleo por coyuntura politica</h4>
						<p>15 agosto 2019</p>
					</div>
					<hr>
				</div>
			</div>
		</div>
	</div>
</div>
