
.todo-analisis {
  h3 {
    cursor: pointer;
  }
}

.investment-group-section-title {
  font-size: 18px;
  margin-bottom: -5px;
}

.investment-list {
  min-height: 205px;
}

.error {
  span {
    font-size: 10px;
    color: #EF161A;
  }
}

.libro-button {
  .message {
    color: #EF161A;
  }
}

.pdf-pagination {
  margin-top: -10px;
  background: white;
  border: 2px solid #efefef;
  text-align: right;
  font-size: 12px;
  padding: 3px 19px 3px 3px;
  color: #8d8c8a;

  .pager {
    cursor: pointer;
  }
}

.bookThumb {
  width: 113px;
  height: 150px;
}

.ediciones-midcont li {
  height: 370px;
  margin-bottom: 15px;
}
