<div class="resumen">
  <div class="container">
    <div class="resumen-contant">
      <div class="resumen-head">
        <h3>Su suscripción fue actualizada exitosamente</h3>
        <h4>A partir de este momento, <b>recibirá en su correo</b> los últimos informes publicados sobre los temas que elegió.</h4>
      </div>
    </div>
    <div class="resumen-subscription">
      <div class="subscription-head" style="display: none">
        <h3>Resumen de la suscripción</h3>
      </div>
      <div class="subcription-contant" style="display: none">
        <p>Lo que indica el mercado</p>
        <p>Presentación semanal</p>
        <p>Tenedores de TES</p>
        <p>Guía créditos corporativo</p>
        <p>Participantes del mercado</p>
      </div>
      <div class="subcription-button">
        <p style="display: none">Recibirá un <span class="resumen-red">total de 4 informes.</span></p>
        <button type="button" class="btn resumen-red-btn" [routerLink]="['/home']"><i class="fas fa-chevron-left"></i>Volver al home</button>
      </div>
    </div>
  </div>
</div>
