<div class="dialog-container">

  <div class="header_dialog">
    <h3>Editar contenido de {{category.description}}</h3>
  </div>
  <div class="close-img" (click)="onNoClick()">
    <span class="text">Cerrar</span>
    <i class="fa fa-times"></i>
  </div>

  <form [formGroup]="subscribeGroup" autocomplete="off">
  <div mat-dialog-content>
    <p class="preferences_modal-text">Aqu&iacute; podr&aacute; retirar elementos del grupo seleccionado</p>

    <div class="category-items-section">
      <table class="selection">
        <tr>
          <th></th>
          <th>Nombre</th>
          <th>Periodicidad</th>
        </tr>
        <tr *ngFor="let type of reportTypes" [ngClass]="{'selected': type.selected}">
          <td>
            <label class="container">
              <input (click)="tag('Suscripción Informes personalizados', '¿En qué invertir?', type?.description)" type="checkbox" checked="checked" [(ngModel)]="type.selected" [ngModelOptions]="{standalone: true}">
              <span class="checkmark"></span>
            </label>
          </td>
          <td class="name" (click)="type.selected = !type.selected">{{type?.description}}</td>
          <td (click)="type.selected = !type.selected">{{getFreqLabel2(type?.period)}}</td>
        </tr>
      </table>
    </div>

  </div>
  <div mat-dialog-actions>
    <div class="regresar-popup-button">
      <button type="submit" class="btn btn-white" (click)="onNoClick()">Cancelar</button>
      <button type="submit" class="btn popup-red-btn" (click)="process()">Aplicar</button>
    </div>
  </div>
  </form>
</div>
