app-side-bar {
	width: 31.5%;
	@media only screen and (max-width: 1024px){
		width: 100%;
	}
}

.content {
	margin-right: 3%;
	margin-left: 1.5%;
	width: 63%;
	@media only screen and (max-width: 1024px){
		width: 100%;
	}
	@media only screen and (max-width: 600px) {
		margin: 0;
	}
}

.information_content .information_left_first .information_details h6 {
	text-transform: uppercase;
}

.information_left_first {
	outline: 0 !important;
	cursor: pointer;
}

.clickable-section {
	outline: 0 !important;
	cursor: pointer;
}
