app-side-bar {
	width: 31.5%;
	@media only screen and (max-width: 1024px){
		width: 100%;
	}
}

.content {
	margin-right: 3%;
	margin-left: 1.5%;
	width: 63%;
	@media only screen and (max-width: 1024px){
		width: 100%;
	}
	@media only screen and (max-width: 600px) {
		margin: 0;
	}
}

.information_content .information_left_first .information_details h6 {
	text-transform: uppercase;
}

.information_left_first {
	outline: 0 !important;
	cursor: pointer;
}

.clickable-section {
	outline: 0 !important;
	cursor: pointer;
}

.remarkable-area {
  position: relative;

  .play_button {
    position: absolute;
    top: 39%;
    left: 43%;

    img {
      width: 50px;
      height: 50px;
    }
  }

  .up_label {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #ffffffeb;
    min-width: 45px;
    text-align: center;
    border-radius: 4px;

    p {
      margin: 0;
      color: #e8162e;
      padding: 2px;
      font-size: 9px;
      font-weight: 500;
      font-family: HelveticaNeueMedium;
      text-transform: uppercase;

      &:before {
        background-color: transparent;
      }
    }
  }
  &.mobile_hiden {
    @media only screen and (max-width: 500px) {
      display: none;
    }
  }
}
