<div class="information_content">
	<div class="container">
		<div class="row">
			<div class="content">
				<div class="information_left_first" *ngIf="headerReport" [routerLink]="['/reports', headerReport.id]">
					<div class="information_image">
						<img [src]="assetBase + headerReport?.image.clientPath" alt="">
						<p class="label">CONTENIDO DESTACADO</p>
					</div>
					<div class="information_details">
						<h6>{{headerReport?.type?.value}}</h6>
						<h4>{{headerReport?.name}}</h4>
						<p>El gerente del Banco de la Republica indico que se siente comodo con una tasa de cambio entre $3.300 y $3.500 y que una devaluacion de entre 15% a 20% era manejable.</p>
						<p class="date">{{headerReport?.updatedAt | date:'d MMMM y'}}</p>
					</div>
				</div>
				<div class="information_left_second_content">
					<div class="information_left_second_head">
						<h4>INFORMES DESTACADOS</h4>
					</div>
					<div class="informs_under_content">
						<div class="row">
							<div class="clickable-section col-sm-6" *ngIf="area1Report" [routerLink]="['/reports', area1Report.id]">
								<div class="informs_under_blog information_left_first">
									<div class="information_image">
										<img [src]="assetBase + area1Report?.image.clientPath" alt="">
									</div>
									<div class="information_details">
										<h6>{{area1Report?.type?.value}}</h6>
										<h4>{{area1Report?.name}}</h4>
										<p>EI Consejo decidio mantener sin cambios...sus tasas de politica monetaria y confirmo su</p>
										<p class="date">{{area1Report?.updatedAt | date:'d MMMM y'}}</p>
									</div>
								</div>
							</div>
							<div class="clickable-section col-sm-6" *ngIf="area2Report" [routerLink]="['/reports', area2Report.id]">
								<div class="informs_under_blog information_left_first">
									<div class="information_image">
										<img [src]="assetBase + area2Report?.image.clientPath" alt="">
									</div>
									<div class="information_details">
										<h6>{{area2Report?.type?.value}}</h6>
										<h4>{{area2Report?.name}}</h4>
										<p>Las ventas reales del del comercio al por menor...en mayo aceleraron su dinamica</p>
										<p class="date">{{area2Report?.updatedAt | date:'d MMMM y'}}</p>
									</div>
								</div>
							</div>
							<div class="clickable-section col-sm-6" *ngIf="area3Report" [routerLink]="['/reports', area3Report.id]">
								<div class="informs_under_blog information_left_first">
									<div class="information_image">
										<img [src]="assetBase + area3Report?.image.clientPath" alt="">
									</div>
									<div class="information_details">
										<h6>{{area3Report?.type?.value}}</h6>
										<h4>{{area3Report?.name}}</h4>
										<p>El gerente del Banco de la Republica indico que se siente comodo con una tasa de cambio entre $3.300 y $3.500 y que una devaluacion de entre 15% a 20% era manejable.</p>
										<p class="date">{{area3Report?.updatedAt | date:'d MMMM y'}}</p>
									</div>
								</div>
							</div>
							<div class="clickable-section col-sm-6" *ngIf="area4Report" [routerLink]="['/reports', area4Report.id]">
								<div class="informs_under_blog information_left_first">
									<div class="information_image">
										<img [src]="assetBase + area4Report?.image.clientPath" alt="">
									</div>
									<div class="information_details">
										<h6>{{area4Report?.type?.value}}</h6>
										<h4>{{area4Report?.name}}</h4>
										<p>Las ventas reales del del comercio al por menor...en mayo aceleraron su dinamica</p>
										<p class="date">{{area4Report?.updatedAt | date:'d MMMM y'}}</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<app-side-bar></app-side-bar>
		</div>
	</div>
</div>
