<div class="indicator">
	<div class="container">
		<div class="indicator_highlight">
			<ul>
				<div class="stop_btn">
					<button type=""><i class="fa fa-pause-circle" aria-hidden="true"></i>Debener</button>
				</div>
				<li><a href=""><b>PEI </b>10.191.477.72 <span class="higher">0.03%</span></a></li>
				<li><a href=""><b>MXNUSD </b>0,05 <span class="higher">0.13%</span></a></li>
				<li><a href=""><b>GOLD </b>1.405.70USD <span class="higher">1.18%</span></a></li>
				<li><a href=""><b>WTI </b>56.81USD <span class="lower">-3.86%</span></a></li>
				<li><a href=""><b>EURUSD </b>1.13 <span class="higher">0.06%</span></a></li>
				<li><a href=""><b>DATAIFX </b>3.215.36 <span class="higher">0.</span></a></li>
				<div class="indictor_btn">
					<button type="">Ver indica<i class="fa fa-angle-right" aria-hidden="true"></i></button>
				</div>
			</ul>
		</div>
	</div>
</div>