<div class="header_menu">
    <div class="container">
        <div class="menu_item">
            <ul>
                <li (mouseenter)="mouseEnter(1)"  (mouseleave)="mouseLeave(1)" class="set-padd set-caret-1"><a href="#">Estar<br>actualizado</a><i class="fas fa-caret-down"></i></li>
                <li class="add-padd set-caret-2"><a href="#">Macroeconomía</a><i class="fas fa-caret-down"></i></li>
                <li class="set-caret-3 set-padd"><a href="#">Nuestros indicadores</a><i class="fas fa-caret-down"></i></li>
                <li class="set-caret-4 set-padd"><a href="#">Economías Centroamericanas</a><i class="fas fa-caret-down"></i></li>
                <li class="set-caret-5 set-padd"><a href="#">Tendencias sectoriales</a><i class="fas fa-caret-down"></i></li>
                <li class="set-caret-6 set-padd" id="inner-menu-detail"><button type="button" data-toggle="modal" data-target="#myModal-search"><a href="#">Análisis de compañías</a><i class="fas fa-caret-down"></i></button></li>
                <li class="set-padd set-caret-7"><a href="#">¿En qué<br> invertir?&nbsp;</a><i class="fas fa-caret-down"></i></li>
                <li class="add-padd set-caret-8 right-border-no"><a href="#">Multimedia</a></li>
            </ul>
        </div>
    </div>
    <div class="categorias-hide-menu" [ngClass]="{'category-menu-visible': subMenuVisible}"
         (mouseenter)="mouseEnter()" (mouseleave)="mouseLeave()">
        <div class="container">
            <div class="hide-menu-contant">
                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        <div class="hide-left-menu">
                            <div class="row">
                                <div class="col-md-4 col-sm-12">
                                    <div class="hide-left-1">
                                        <ul>
                                            <li>Avianca Holdings</li>
                                            <li>Bancolombias</li>
                                            <li>Banco de Bogotá</li>
                                            <li>Celsia</li>
                                            <li>CEMEX</li>
                                            <li>Conconcreto</li>
                                            <li>Davivienda</li>
                                            <li>Empresa nueva 2</li>
                                            <li>Empresa nueva 5</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-12">
                                    <div class="hide-left-2">
                                        <ul>
                                            <li>Ecopetrol</li>
                                            <li>El Cóndor</li>
                                            <li>GEB</li>
                                            <li>Grupo Argos</li>
                                            <li>Grupo Aval</li>
                                            <li>Grupo Éxito</li>
                                            <li>Grupo Nutresa</li>
                                            <li>Empresa nueva 3</li>
                                            <li>Empresa nueva 6</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-12">
                                    <div class="hide-left-3">
                                        <ul>
                                            <li>Grupo Sura</li>
                                            <li>ISA</li>
                                            <li>Mineros</li>
                                            <li>PEI</li>
                                            <li>Promigas</li>
                                            <li>Terpel</li>
                                            <li>Empresa nueva 1</li>
                                            <li>Empresa nueva 4</li>
                                            <li>Empresa nueva 7</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <div class="todo-analisis">
                                <h3>Ver todo Análisis de compañias</h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <div class="hide-right-menu">
                            <div class="hide-right-menu-head">
                                <h3>Contenido Destacado</h3>
                            </div>

                            <div class="hide-right-menu-contant">
                                <h3>Sector petróleo</h3>
                                <h4>Lo último sobre el comprotamiento del petróleo</h4>
                                <h5>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do </h5>
                                <p>1 Julio 2020</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
