<div class="para_tabs tabs_works economy_content">
	<div class="container">
		<div class="slider_header">
			<h4>¿Como va la econom&iacute;a?</h4>
			<p>Encuentre aqu&iacute; todo lo relacionado con la coyuntura econ&oacute;mica y sectorial</p>
		</div>
		<div class="information_sidebar_tabs">
			<ul class="nav nav-tabs">
				<li [ngClass]="{activeone: tab === 'tab1'}" class="economy"><a (click)="tab = 'tab1'">Econom&iacute;a
						Colombiana</a></li>
				<li [ngClass]="{activeone: tab === 'tab2'}"><a (click)="tab = 'tab2'">Sectores</a></li>
			</ul>
			<div class="tab-content">
				<div class="tab-pane activeone" *ngIf="tab === 'tab1'">
					<div class="row">
						<div class="col-sm-6">
							<div class="para_left_content">
								<div *ngIf="headerReport" class="para_left_first">
									<h4>{{headerReport?.rTitle | striphtml}}</h4>
									<p>{{headerReport?.publishedAt | date:'d MMMM y'}}</p>
									<p class="para_desc">
										{{headerReport?.smartContent}}
									</p>
									<p class="para_nuvo">NUEVO</p>
									<div class="conocer_btn">
										<a [routerLink]="['/reports', headerReport?.id]">Conocer a detalle el informe <i
												class="fa fa-angle-right" aria-hidden="true"></i></a>
									</div>
								</div>
							</div>
						</div>
						<div class="col-sm-6">
							<div class="row">
								<div class="col-sm-6">
									<div *ngIf="area1Report" class="tab_sub_division_part"
										[routerLink]="['/reports', area1Report?.id]">
										<p class="red_text">{{getCategory(area1Report.reportType) | uppercase}}</p>
										<h4>{{area1Report?.rTitle | striphtml}}</h4>
										<p>{{area1Report?.smartContent}}</p>
										<p>{{area1Report?.publishedAt | date:'d MMMM y'}}</p>
									</div>
								</div>
								<div class="col-sm-6">
									<div *ngIf="area2Report" class="tab_sub_division_part"
										[routerLink]="['/reports', area2Report?.id]">
										<p class="red_text">{{getCategory(area2Report.reportType) | uppercase}}</p>
										<h4>{{area2Report?.rTitle | striphtml}}</h4>
										<p>{{area2Report?.smartContent}}</p>
										<p>{{area2Report?.publishedAt | date:'d MMMM y'}}</p>
									</div>
								</div>
								<div class="col-sm-6">
									<div *ngIf="area3Report" class="tab_sub_division_part"
										[routerLink]="['/reports', area3Report?.id]">
										<p class="red_text">{{getCategory(area3Report.reportType) | uppercase}}</p>
										<h4>{{area3Report?.rTitle | striphtml}}</h4>
										<p>{{area3Report?.smartContent}}</p>
										<p>{{area3Report?.publishedAt | date:'d MMMM y'}}</p>
									</div>
								</div>
								<div class="col-sm-6">
									<div *ngIf="area4Report" class="tab_sub_division_part"
										[routerLink]="['/reports', area4Report?.id]">
										<p class="red_text">{{getCategory(area4Report.reportType) | uppercase}}</p>
										<h4>{{area4Report?.rTitle | striphtml}}</h4>
										<p>{{area4Report?.smartContent}}</p>
										<p>{{area4Report?.publishedAt | date:'d MMMM y'}}</p>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="para_bottom_btn">
						<div class="button_inner">
							<a href="/categories/5e7fc9a5dc4b4a6c6629517f" class="empresas">Conocer más sobre economía colombiana <i
									class="fa fa-angle-right" aria-hidden="true"></i></a>
						</div>
					</div>
				</div>
				<div class="tab-pane activetwo" *ngIf="tab === 'tab2'">
					<div class="row">
						<div class="col-sm-3" *ngFor="let report of randomReports">
							<div class="tab_sub_division_part" [routerLink]="['/reports', report?.id]">
								<p class="red_text">{{getCategory(report.reportType) | uppercase}}</p>
								<h4>{{report?.rTitle | striphtml}}</h4>
								<p>{{report?.smartContent}}</p>
								<p>{{report?.publishedAt | date:'d MMMM y'}}</p>
							</div>
						</div>
					</div>
					<div class="para_bottom_btn">
						<div class="button_inner">
							<a href="/categories/5e7fc9a5dc4b4a6c66295182" class="empresas">Conocer m&aacute;s informes de sectores <i
									class="fa fa-angle-right" aria-hidden="true"></i></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
