
.information_sidebar_tabs ul.nav.nav-tabs li {
  width: auto;
  &.economy{
    margin-left: 0;
  }
  @media only screen and (max-width: 768px){
    width: 170px;
  }
}

.nav-tabs li a {
  cursor: pointer;
}
