<header class="header header_container">
  <div class="container">
    <div class="header_section">
      <div class="header_left">
        <div class="site_logo" [routerLink]="'/home'">
          <img src="./assets/images/logo-vision.svg" alt="">
        </div>
        <!--
        <div class="logo_after">
          <img src="./assets/images/logo_after.png" alt="">
        </div> -->
      </div>
    </div>
  </div>
</header>

<div class="container">
  <div class="content">
    <div class="img">
      <img src="../../../../assets/images/libro-image.png" alt="" class="img-fluid">
    </div>
    <div class="text">
      <h3>Gracias por descargar<br/> El Libro en su edici&oacute;n 2020</h3>
      <p>Encontrar&aacute; un correo electr&oacute;nico<br/> con <strong>El Libro</strong> en su correo.</p>
      <button type="button" class="btn" routerLink="/home">
        <i class="fas fa-chevron-left"></i>
        Volver al home
      </button>
    </div>
  </div>
</div>
<footer class="main_footer">
  <div class="footer_second">
    <p>Bonco Davivienda S.A. todos los derechos reservados 2020</p>
  </div>
</footer>
